help-contents {
  .help-content{
    background-color: #F4F4F4;
  }
  .help-contents-card {
    border: 1px solid #E6E6E7;
    border-radius: 0.1rem;
    padding: 5px 10px 5px;
    margin-top:5px;
    margin-bottom:5px;
  }
}
