<!--
  Generated template for the TrackerEntityRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Registration</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div *ngIf="isLoading">
      <page-loading [loadingMessage]="loadingMessage" [loadingSize]="'large'"></page-loading>
    </div>
    <div *ngIf="!isLoading">
      <ion-row>
        <ion-col>
          <div class="item-card" no-padding (click)="openWidgetList()">
            <ion-item no-padding >
              <div ion-text color="font-color" align="center">
                <div style="padding:6px 0px;">
                  <span >
                    <span class="program-stage-button-label">
                      <span *ngIf="currentWidget.icon" >
                        <img class="tracker-pagination-icon" [src]="currentWidget.icon"/>
                      </span>
                        <span *ngIf="currentWidget.iconName" class="tracker-pagination-icon icon-color" >
                        <b>{{ currentWidget.iconName }}</b>
                      </span>
                    </span>
                  </span>
                  &nbsp;
                  {{ currentWidget.name }}
                </div>
              </div>
              <div style="text-align: center" item-right float-right>
                <span  float-end class="side-menu-icon"><img [src]="icons.menu"></span>
              </div>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <div *ngFor="let widget of dashboardWidgets">
        <div *ngIf="(isDashboardWidgetOpen[widget.id])">
          <ion-row>
            <ion-col>
              <div *ngIf="currentWidget.id == 'enrollment'">
                <div class="item-card">
                  <div class="inputLabel">
                    <b>
                      <div class="inputLabel">
                        Enrollments
                      </div>
                    </b>
                    <hr>
                  </div>
                  <div class="inputLabel">
                    Enrolling organisation unit
                  </div>
                  <div class="input-field-container">
                    <ion-item>
                      <ion-input [(ngModel)]="currentOrganisationUnit.name" readonly="true"></ion-input>
                    </ion-item>
                  </div>
                  <div class="inputLabel">
                    Enrolling Program
                  </div>
                  <div class="input-field-container">
                    <ion-item>
                      <ion-input [(ngModel)]="currentProgram.name" readonly="true"></ion-input>
                    </ion-item>
                  </div>
                  <div *ngIf="isTrackedEntityRegistered">
                    <div class="inputLabel">
                      {{ currentProgram.enrollmentDateLabel}}
                    </div>
                    <div class="input-field-container">
                      <ion-item>
                        <ion-input [(ngModel)]="enrollmentDate" readonly="true"></ion-input>
                      </ion-item>
                    </div>
                    <div class="inputLabel">
                      {{ currentProgram.incidentDateLabel}}
                    </div>
                    <div class="input-field-container">
                      <ion-item>
                        <ion-input [(ngModel)]="incidentDate" readonly="true"></ion-input>
                      </ion-item>
                    </div>
                  </div>
                  <div *ngIf="!isTrackedEntityRegistered">
                    <div class="inputLabel">
                      {{ currentProgram.enrollmentDateLabel}}
                    </div>
                    <div class="input-field-container">
                      <ion-item>
                        <ion-datetime [(ngModel)]="enrollmentDate" doneText="Update" displayFormat="YYYY-MM-DD"
                                      pickerFormat="YYYY MM DD"></ion-datetime>
                      </ion-item>
                    </div>
                    <div class="inputLabel">
                      {{ currentProgram.incidentDateLabel}}
                    </div>
                    <div class="input-field-container">
                      <ion-item>
                        <ion-datetime [(ngModel)]="incidentDate" doneText="Update" displayFormat="YYYY-MM-DD"
                                      pickerFormat="YYYY MM DD"></ion-datetime>
                      </ion-item>
                    </div>
                  </div>
                </div>
                <div class="item-card">
                  <div class="inputLabel">
                    <b>
                      <div class="inputLabel">
                        Profile
                      </div>
                    </b>
                    <hr>
                  </div>
                  <div *ngIf="programTrackedEntityAttributes && programTrackedEntityAttributes.length > 0">
                    <div *ngFor="let programTrackedEntityAttribute of programTrackedEntityAttributes">
                      <tracked-entity-inputs
                        [trackedEntityAttribute]="programTrackedEntityAttribute.trackedEntityAttribute"
                        [currentUser]="currentUser"
                        [data]="dataObject"
                        [mandatory]="programTrackedEntityAttribute.mandatory"
                        (onChange)="updateData($event)"></tracked-entity-inputs>
                    </div>
                  </div>
                </div>

                <div no-padding>
                  <div style="display: inline-block;width: 49.3%">
                    <div float-left>
                    </div>
                  </div>
                  <div style="display: inline-block;width: 49.3%">
                    <div  float-right>
                      <div class="item-card" color="danger" float-right (click)="deleteTrackedEntity(trackedEntityInstance)"  *ngIf="isTrackedEntityRegistered" padding ion-button clear text-center text-capitalize >
                        <ion-icon name="trash" ></ion-icon>
                      </div>
                    </div>
                  </div>
                </div>


                <div *ngIf="isTrackedEntityRegistered" class="item-card-program-stage-section">
                  <div  class="item-card" color="font-color" (click)="updateWidgetPagination(currentWidgetIndex + 1)" padding-top padding-bottom ion-button clear text-center text-capitalize>
                    <ion-icon name="ios-arrow-forward-outline" ></ion-icon>
                  </div>
                </div>
              </div>

              <div *ngIf="currentWidget.id != 'enrollment'">
                <div *ngIf="programStages && programStages.length > 0">
                  <div *ngFor="let programStage of programStages">
                    <div *ngIf="widget.id == programStage.id">
                      <program-stage-tracker-based
                        [programStage]="programStage"
                        [trackedEntityInstance]="trackedEntityInstance"
                        [currentWidgetIndex]="currentWidgetIndex"
                        [isLastStage]="(currentWidgetIndex == programStages.length)"
                        (onChange)="updateWidgetPagination($event)"></program-stage-tracker-based>
                    </div>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button clear text-capitalize *ngFor="let widget of dashboardWidgets" [disabled]="(!isTrackedEntityRegistered && widget.iconName) || (isDashboardWidgetOpen[widget.id])" (tap)="changeDashboardWidget(widget)">
            <div [ngClass]=" (isDashboardWidgetOpen[widget.id])?'program-stage-button-label':''">
              <div *ngIf="widget.icon" >
                <img class="footer-icon" [src]="widget.icon"/>
              </div>
              <div *ngIf="widget.iconName" >
                <b>{{ widget.iconName }}</b>
              </div>
            </div>
          </button>
          <button ion-button clear text-capitalize [disabled]="!isTrackedEntityRegistered" (click)="resetRegistration()" float-right>
            <img class="footer-icon" [src]="icons.addNewCase"/>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>


