<!--
*
* Copyright 2019 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2019
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<div *ngIf="isLoading">
    <app-progress-bar [color]="(colorSettings$ | async).colorAttributes.secondary" [isIndeterminateProcess]="true" [processMessage]="''">
    </app-progress-bar>
</div>
<div *ngIf="!isLoading" class="animated fadeIn">
    <div class="synchronization-settings">
        <span [translate]="'Unit of time'"></span>
        <div class="input-field-container">
            <app-option-set-input (optionSetChange)="onSynchronizationSetingChnage($event)" [data]="data" [isTrashButtonDisabled]="isTrashButtonDisabled" [categoryOptionComboId]="'co'" [dataElementId]="'timeType'" [options]="unitTimeSynchronizationOptions"></app-option-set-input>
        </div>
    </div>
    <div class="synchronization-settings">
        <span [translate]="getNumberOfUnitOfTimeLabel()"> </span>
        <div class="input-field-container">
            <app-numerical-input [dataElementId]="'time'" [valueType]="'INTEGER_POSITIVE'" [categoryOptionComboId]="'co'" [data]="data" (numericalValueChange)="onSynchronizationSetingChnage($event)"></app-numerical-input>
        </div>
    </div>
    <div class="synchronization-settings">
        <span [translate]="'Is auto synchronization on'"></span>
        <div class="input-field-container">
            <app-true-only-input (valueChange)="onSynchronizationSetingChnage($event)" [data]="data" [dataElementId]="'isAutoSync'" [categoryOptionComboId]="'co'"></app-true-only-input>
        </div>
    </div>
</div>