<ion-grid>
  <div *ngIf="isLoading">
    <page-loading [loadingMessage]="'Loading messages'" [loadingSize]="'large'" ></page-loading>
  </div>

  <div *ngIf="!isLoading">
    <div *ngIf="hasError">
      <notification [message]="'Fail to load messages'"></notification>
    </div>
    <div *ngIf="!hasError">
      <div class="item-card" *ngFor="let messageConversation of messageConversations">
        <ion-row (tap)="toggleMessageConversationContents(messageConversation)">
          <ion-col col-11>&nbsp;
            <span ion-text [color]="(isMessageContentOpen[messageConversation.id]) ?'current' : 'font-color'">
              {{ messageConversation.subject }}&nbsp;&nbsp;({{ messageConversation.messageCount }})
            </span>
          </ion-col>
          <ion-col col-1 item >
            <div style="text-align: center;">
              <ion-icon [color]="(isMessageContentOpen[messageConversation.id]) ?'current' : 'font-color'" *ngIf="!(isMessageContentOpen[messageConversation.id])" name="ios-arrow-down" item-right></ion-icon>
              <ion-icon [color]="(isMessageContentOpen[messageConversation.id]) ?'current' : 'font-color'" *ngIf="(isMessageContentOpen[messageConversation.id])" name="ios-arrow-up" item-right></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <div *ngIf="(isMessageContentOpen[messageConversation.id])" class="message-conversations">
          <hr>
          <ion-row>
            <ion-col>
              <div *ngFor="let message of messageConversation.messages;let messageIndex = index" >
                <div class="message-container">
                  <div *ngIf="messageIndex == 0">
              <span *ngIf="messageConversation.user && messageConversation.user.displayName" class="sender">
                 {{messageConversation.user.displayName  }}&nbsp;:&nbsp;
              </span>
                    <span class="message">
                {{ message.name }}
              </span>
                  </div>
                  <div *ngIf="messageIndex > 0">
              <span *ngIf="message.sender && message.sender.displayName" class="sender">
                 {{ message.sender.displayName   }}&nbsp;:&nbsp;
              </span>
                    <span class="message">
                {{ message.name }}
              </span>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>

</ion-grid>
