custom-data-entry-form {
  .custom-entry-form {
    overflow: auto;
  }

  td,
  th {
    text-align: left;
    padding-left: 15px;
  }

  input,
  textarea,
  select {
    border: solid thin #dddddd;
    padding: 5px;
  }

  textarea {
    width: 90%;
  }

  select {
    background-color: #ffffff;
  }

  input {
    text-align: center;
  }

  .entryfield:focus,
  .entryselect:focus,
  .entrytrueonly:focus,
  .entryfileresource:focus {
    border-color: #488aff;
  }

  .flex-container-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

  }

  .paginations {
    margin-top: 5px;
  }

  .flex-item {
    text-align: center;
  }

  .flex-item-start {
    padding: 3px;
  }

  .pagination-button {
    padding: 5px;
  }
}
