<!--
  Generated template for the DataEntryHome page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Data Entry Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content  class="data-entry-home">

  <div *ngIf="loadingData" padding>
    <ion-list>
      <ion-item *ngFor="let message of loadingMessages; let currentIndex = index">
        {{ message }}
        <ion-icon *ngIf="(currentIndex + 1) < loadingMessages.length" name="done-all" item-right color="primary"></ion-icon>
        <div style="text-align: center" item-right *ngIf="(currentIndex + 1) >= loadingMessages.length">
          <ion-spinner name="crescent" color="secondary"></ion-spinner>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!loadingData">

    <ion-row >
      <ion-col width="100">
        <button (click)="openOrganisationUnitModal()" ion-button full color="light">
          {{ selectedOrganisationUnitLabel }}
        </button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col width="100">
        <div >
          <button (click)="openDataSetsModal()" [disabled] = "!currentSelectionStatus.dataSet" ion-button full color="light">
            {{ selectedDataSetLabel }}
          </button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col width="100">
        <div >
          <button  (click)="openPeriodModal()" [disabled] = "!currentSelectionStatus.period" ion-button full color="light">
            {{ selectedPeriodLabel }}
          </button>
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="selectedPeriod">
      <div *ngIf="selectedPeriod.name">
        <div *ngIf="selectedDataSet.categoryCombo">
          <div *ngIf="selectedDataSet.categoryCombo.name != 'default'">
            <ion-row >
              <ion-col width="100">
                <ion-list>
                  <ion-item *ngFor="let category of selectedDataSet.categoryCombo.categories;let categoryIndex = index ">
                    <ion-label>{{ category.name }}</ion-label>
                    <ion-select [(ngModel)]="selectedDataDimension[categoryIndex]">
                      <ion-option *ngFor="let option of category.categoryOptions" value="{{option.id}}" >
                        {{ option.name }}
                      </ion-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="selectedPeriod">
      <div *ngIf="selectedPeriod.name && hasDataDimensionSet()">
        <ion-card (click)="goToEntryForm()">
          <ion-card-content>
            <p><b>Organisation Unit</b> : {{ selectedOrganisationUnitLabel }}</p>
            <p><b>Form</b> : {{ selectedDataSetLabel }}</p>
            <p><b>Period</b> : {{ selectedPeriodLabel }}</p>
          </ion-card-content>
        </ion-card>
        <ion-row >
          <ion-col width="100">
            <button ion-button full (click)="goToEntryForm()">Data Entry </button>
          </ion-col>
        </ion-row>
      </div>
    </div>

  </div>

</ion-content>
