page-data-entry-home {
  .data-entry-home {
    background-color:#E4E4E4;
  }

  .selectionLabel{
    font-size: 18px;
  }
  .selectionLabel{
    font-size: 18px;
  }
  .dataEntryButton{
    color: #7A7A7A;
  }

  .selectionHints{
    word-wrap: break-word!important;
    font-size: 15px;
  }

}
