<!--
  Generated template for the DataEntryHome page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Data Entry Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content  class="data-entry-home">

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button [disabled]="!currentSelectionStatus.orgUnit" class="dataEntryButton" text-capitalize ion-button full large (click)="openOrganisationUnitModal()" color="whitecolor">
           <span *ngIf="!currentSelectionStatus.isOrgUnitLoaded" >
              <ion-spinner  name="crescent" color="secondary"></ion-spinner>&nbsp;&nbsp;
              Loading organisation units
            </span>
            <span *ngIf="currentSelectionStatus.isOrgUnitLoaded" >
              {{ selectedOrganisationUnitLabel }}
            </span>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button [disabled]="!currentSelectionStatus.dataSet" class="dataEntryButton" text-capitalize ion-button full large (click)="openDataSetsModal()" color="whitecolor">
            <span *ngIf="!currentSelectionStatus.isDataSetLoaded" >
              <ion-spinner  name="crescent" color="secondary"></ion-spinner>&nbsp;&nbsp;
              Loading entry forms
            </span>
            <span *ngIf="currentSelectionStatus.isDataSetLoaded" >
              {{ selectedDataSetLabel }}
            </span>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button [disabled]="!currentSelectionStatus.period" class="dataEntryButton" text-capitalize ion-button full large (click)="openPeriodModal()" color="whitecolor">
            {{ selectedPeriodLabel }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <div *ngIf="selectedPeriod">
        <div *ngIf="selectedPeriod.name">
          <div *ngIf="selectedDataSet.categoryCombo">
            <div *ngIf="selectedDataSet.categoryCombo.name != 'default'">
              <ion-row >
                <ion-col width="100">
                  <ion-list>
                    <ion-item *ngFor="let category of selectedDataSet.categoryCombo.categories;let categoryIndex = index ">
                      <ion-label>{{ category.name }}</ion-label>
                      <ion-select [(ngModel)]="selectedDataDimension[categoryIndex]">
                        <ion-option *ngFor="let option of category.categoryOptions" value="{{option.id}}" >
                          {{ option.name }}
                        </ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </div>
      
      <div *ngIf="selectedPeriod">
        <div *ngIf="selectedPeriod.name && hasDataDimensionSet()">
          <ion-row >
            <ion-col width="100">
              <ion-item-group (click)="goToEntryForm()">
                <ion-item-divider>
                  <p ><b>Organisation Unit</b> : {{ selectedOrganisationUnitLabel }}</p>
                  <p ><b>Form</b> : {{ selectedDataSetLabel }}</p>
                  <p ><b>Period</b> : {{ selectedPeriodLabel }}</p>
                </ion-item-divider>
              </ion-item-group>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button class="dataEntryButton" ion-button full large (click)="goToEntryForm()" color="whitecolor">Data Entry</button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>

  </div>

</ion-content>
