<ion-header>

  <ion-toolbar color="primary">
    <ion-title>
      Dashboard list
    </ion-title>
    <ion-buttons end>
      <button class="normalButton" ion-button text-capitalize full large (tap)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content class="dashboardSearch">

  <ion-grid>
    <ion-searchbar animated="true"autocomplete="on" placeholder="Search dashboard by name"  (ionInput)="getFilteredList($event)"></ion-searchbar>
    <ion-row>
      <ion-col >
        <ion-list>
          <ion-item *ngFor="let dashboard of dashboards" (tap)="setCurrentDashboard(dashboard)" class="list-separator">
            <span ion-text [color]="(currentDashboardName == dashboard.name) ?'current' : 'font-color'" >{{ dashboard.name }}</span>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <div *ngIf="dashboards.length == 0">
      <empty-list-notification [emptyListMessage]="'There no dashboard found'"></empty-list-notification>
    </div>
  </ion-grid>


</ion-content>
