app-edit-comment {
    .interpretation-edit-input {
        border-style: none;
        margin-top: 7px;
        min-height: 35px;
        width: 100%;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .interpretation-edit-input:focus {
        outline: none;
    }
    .interpretation-edit-input {
        background-color: transparent;
    }
    .edit-interpretation-btn {
        border-style: none;
    }
}