<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-header>

  <ion-navbar [color]="(colorSettings$ |async).colorAttributes.main">
    <ion-title>
      <span [translate]="'About'"></span>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="about-page">
  <ion-grid>
    <div *ngIf="isLoading">
      <loading [loadingSize]="'large'" [loadingMessage]="loadingMessage"></loading>
    </div>
    <div *ngIf="!isLoading" class="about-details">
      <ion-row>
        <ion-col class="topSLogan">
          <div class="logo-inside-app">
            <img [src]="logoUrl">
          </div>
          <div>
            <span *ngIf="appInformation && appInformation.name">{{ appInformation.name }}</span>
            <br>
            <span *ngIf="appInformation && appInformation.version">{{ appInformation.version }}</span>
          </div>
        </ion-col>
      </ion-row>
      <div class="item-card" *ngFor="let aboutContent of aboutContents">
        <ion-row (tap)="toggleAboutContents(aboutContent)">
          <ion-col col-11>
            <img class="side-menu-icon" [src]="aboutContent.icon" />&nbsp;&nbsp;
            <span ion-text [color]="(isAboutContentOpen[aboutContent.id]) ?'current' : 'font-color'">
              <span [translate]="aboutContent.name"></span>
            </span>
          </ion-col>
          <ion-col col-1 item>
            <div style="text-align: center;">
              <ion-icon [color]="(isAboutContentOpen[aboutContent.id]) ?'current' : 'font-color'" *ngIf="!(isAboutContentOpen[aboutContent.id])"
                name="ios-arrow-down" item-right></ion-icon>
              <ion-icon [color]="(isAboutContentOpen[aboutContent.id]) ?'current' : 'font-color'" *ngIf="(isAboutContentOpen[aboutContent.id])"
                name="ios-arrow-up" item-right></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <div *ngIf="(isAboutContentOpen[aboutContent.id])">
          <hr>
          <div *ngIf="aboutContent.id == 'appInformation'">
            <ion-row>
              <ion-col>
                <div *ngFor="let info of appInformation; ">
                  <p>{{ info.key }}</p>
                  <p>{{ info.value }}</p>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="aboutContent.id == 'systemInfo'">
            <ion-row>
              <ion-col>
                <div *ngFor="let info of systemInfo">
                  <div class="content">
                    <b>{{ info.key }}</b>
                    <br>{{ info.value }}</div>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="aboutContent.id == 'dataValues'">
            <div class="item-card" color="font-color">
              <ion-item>
                <span [translate]="'Synced'"></span>
                <ion-badge [color]="(colorSettings$ |async).colorAttributes.secondary" item-end>{{
                  dataValuesStorage.online }}</ion-badge>
              </ion-item>
            </div>
            <div class="item-card" color="font-color">
              <ion-item>
                <span [translate]="'Not synced'"></span>
                <ion-badge [color]="(colorSettings$ |async).colorAttributes.secondary" item-end>{{
                  dataValuesStorage.offline }}</ion-badge>
              </ion-item>
            </div>
          </div>
          <div *ngIf="aboutContent.id == 'eventStatus'">
            <div class="item-card" color="font-color">
              <ion-item>
                <span [translate]="'Synced'"></span>
                <ion-badge [color]="(colorSettings$ |async).colorAttributes.secondary" item-end>{{ eventsStorage.online
                  }}</ion-badge>
              </ion-item>
            </div>
            <div class="item-card" color="font-color">
              <ion-item>
                <span [translate]="'Not synced'"></span>
                <ion-badge [color]="(colorSettings$ |async).colorAttributes.secondary" item-end>{{
                  eventsStorage.offline }}</ion-badge>
              </ion-item>
            </div>
          </div>
          <div *ngIf="aboutContent.id == 'eventForTrackerStatus'">
            <div class="item-card" color="font-color">
              <ion-item>
                <span [translate]="'Synced'"></span>
                <ion-badge [color]="(colorSettings$ |async).colorAttributes.secondary" item-end>{{
                  eventsForTrackerStorage.online }}</ion-badge>
              </ion-item>
            </div>
            <div class="item-card" color="font-color">
              <ion-item>
                <span [translate]="'Not synced'"></span>
                <ion-badge [color]="(colorSettings$ |async).colorAttributes.secondary" item-end>{{
                  eventsForTrackerStorage.offline }}</ion-badge>
              </ion-item>
            </div>
          </div>
          <div *ngIf="aboutContent.id == 'enrollment'">
            <div class="item-card" color="font-color">
              <ion-item>
                <span [translate]="'Synced'"></span>
                <ion-badge [color]="(colorSettings$ |async).colorAttributes.secondary" item-end>{{
                  enrollmentStorage.online }}</ion-badge>
              </ion-item>
            </div>
            <div class="item-card" color="font-color">
              <ion-item>
                <span [translate]="'Not synced'"></span>
                <ion-badge [color]="(colorSettings$ |async).colorAttributes.secondary" item-end>{{
                  enrollmentStorage.offline }}</ion-badge>
              </ion-item>
            </div>
          </div>

        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>
