<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="about-page">

  <ion-grid>
    <div *ngIf="isLoading">
      <page-loading [loadingSize]="'large'" [loadingMessage]="loadingMessage" ></page-loading>
    </div>
    <div *ngIf="!isLoading" class="about-details">
      <ion-row>
        <ion-col class="topSLogan">
          <div class="logo-inside-app">
            <img [src]="logoUrl" >
          </div>
          <div >
              <span *ngIf="appInformation && appInformation.name">{{ appInformation.name }}</span><br>
              <span *ngIf="appInformation && appInformation.version">{{ appInformation.version }}</span>
          </div>
        </ion-col>
      </ion-row>
      <div class="item-card" *ngFor="let aboutContent of aboutContents">
        <ion-row (tap)="toggleAboutContents(aboutContent)">
          <ion-col col-11>
            <img  class="side-menu-icon" [src]="aboutContent.icon"/>&nbsp;&nbsp;
            <span ion-text [color]="(isAboutContentOpen[aboutContent.id]) ?'current' : 'font-color'">
              {{ aboutContent.name }}
            </span>
          </ion-col>
          <ion-col col-1 item >
            <div style="text-align: center;">
              <ion-icon [color]="(isAboutContentOpen[aboutContent.id]) ?'current' : 'font-color'" *ngIf="!(isAboutContentOpen[aboutContent.id])" name="ios-arrow-down" item-right></ion-icon>
              <ion-icon [color]="(isAboutContentOpen[aboutContent.id]) ?'current' : 'font-color'" *ngIf="(isAboutContentOpen[aboutContent.id])" name="ios-arrow-up" item-right></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <div *ngIf="(isAboutContentOpen[aboutContent.id])" >
          <hr>
          <div *ngIf="aboutContent.id == 'appInformation'">
            <ion-row>
              <ion-col >
                <div *ngFor="let info of appInformation; ">
                  <p>{{ info.key }}</p>
                  <p>{{ info.value }}</p>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="aboutContent.id == 'systemInfo'">
            <ion-row>
              <ion-col >
                <div *ngFor="let info of systemInfo">
                  <div class="content"><b>{{ info.key }}</b><br>{{ info.value }}</div>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="aboutContent.id == 'dataValues'">
            <div class="item-card" color="font-color" >
              <ion-item >
                Synced
                <ion-badge color="icon-color" item-end>{{ dataValuesStorage.online }}</ion-badge>
              </ion-item>
            </div>
            <div class="item-card" color="font-color">
              <ion-item >
                Not Synced
                <ion-badge color="icon-color" item-end>{{ dataValuesStorage.offline }}</ion-badge>
              </ion-item>
            </div>
          </div>
          <div *ngIf="aboutContent.id == 'eventStatus'">
            <div class="item-card" color="font-color" >
              <ion-item >
                Synced
                <ion-badge color="icon-color" item-end>{{ eventsStorage.online }}</ion-badge>
              </ion-item>
            </div>
            <div class="item-card" color="font-color">
              <ion-item >
                Not Synced
                <ion-badge color="icon-color" item-end>{{ eventsStorage.offline }}</ion-badge>
              </ion-item>
            </div>
          </div>
          <div *ngIf="aboutContent.id == 'eventForTrackerStatus'">
            <div class="item-card" color="font-color" >
              <ion-item >
                Synced
                <ion-badge color="icon-color" item-end>{{ eventsForTrackerStorage.online }}</ion-badge>
              </ion-item>
            </div>
            <div class="item-card" color="font-color">
              <ion-item >
                Not Synced
                <ion-badge color="icon-color" item-end>{{ eventsForTrackerStorage.offline }}</ion-badge>
              </ion-item>
            </div>
          </div>
          <div *ngIf="aboutContent.id == 'enrollment'">
            <div class="item-card" color="font-color" >
              <ion-item >
                Synced
                <ion-badge color="icon-color" item-end>{{ enrollmentStorage.online }}</ion-badge>
              </ion-item>
            </div>
            <div class="item-card" color="font-color">
              <ion-item >
                Not Synced
                <ion-badge color="icon-color" item-end>{{ enrollmentStorage.offline }}</ion-badge>
              </ion-item>
            </div>
          </div>

        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>
