page-login {
  .login {
    background-color:#1D5288;
  }

  .logo {
    max-width: 45%;
    margin:auto;
  }
  .topSLogan{
    text-align: center;
  }

  .topSLogan p{
    color:#82B1FF;
    text-align:center;
    font-style: italic;
  }

  .bottomSLogan{
    text-align: center;
    margin-bottom:2%;
  }

  .bottomSLogan p{
    font-style: italic;
    color: #ffffff;
  }
}
