page-login {
  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: white;
  }
  .strike>span {
    position: relative;
    display: inline-block;
    font-weight: bold;
  }
  .strike>span:before,
  .strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
  }
  .strike>span:before {
    right: 100%;
    margin-right: 15px;
  }
  .strike>span:after {
    left: 100%;
    margin-left: 15px;
  }
  .currentLang {
    color: #ffa500;
  }
  .topSLogan p {
    color: #82b1ff;
    text-align: center;
    font-style: italic;
  }
  .bottomSLogan {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 0px;
  }
  .bottomSLogan p {
    margin: 0px;
  }
  .bottom-sLogan-title {
    font-style: italic;
    color: #ffffff;
    text-transform: lowercase;
    font-size: 0.8rem;
  }
  .translation-codes {
    color: #ffffff;
    text-transform: lowercase;
  }
  .translation-codes span {
    padding: 2px;
  }
}
