
<ion-content  class="login">

  <ion-grid>
    <ion-row>
      <ion-col class="topSLogan animated bounceIn">
        <div class="logo">
          <img [src]="logoUrl" >
        </div>
        <p >{{'innovation_in_every_dimension'|translate }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isLoginProcessActive">
      <ion-col [ngClass]="animationEffect.progressBar">
        <progress-bar
          [progressBarTitle] = "loggedInInInstance"
          [progressBar] = "progressBar"
          (isProcessActive)="cancelLoginProcess($event)">
        </progress-bar>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isLoginProcessActive" [ngClass]="animationEffect.progressBar">
      <ion-col>
        <ion-list>
          <ion-item>
            <div style="text-align: center" item-left >
              <div *ngIf="progressTracker.communication.passStepCount == progressTracker.communication.count">
                <ion-icon name="done-all" color="favorite"></ion-icon>
              </div>
              <div *ngIf="progressTracker.communication.passStepCount != progressTracker.communication.count">
                <page-loading loadingSize="small"></page-loading>
              </div>
            </div>
            <span >Establishing connection to server</span>
            <div style="text-align: center" item-right >
              {{ progressTracker.communication.passStepCount}}/{{ progressTracker.communication.count}}
            </div>
          </ion-item>
          <ion-item>
            <div style="text-align: center" item-left >
              <div *ngIf="progressTracker.entryForm.passStepCount == progressTracker.entryForm.count">
                <ion-icon name="done-all" color="favorite"></ion-icon>
              </div>
              <div *ngIf="progressTracker.entryForm.passStepCount != progressTracker.entryForm.count">
                <page-loading loadingSize="small"></page-loading>
              </div>
            </div>
            <span >Aggregate metadata</span>
            <div style="text-align: center" item-right >
              {{ progressTracker.entryForm.passStepCount}}/{{ progressTracker.entryForm.count}}
            </div>
          </ion-item>
          <ion-item>
            <div style="text-align: center" item-left >
              <div *ngIf="progressTracker.event.passStepCount == progressTracker.event.count">
                <ion-icon name="done-all" color="favorite"></ion-icon>
              </div>
              <div *ngIf="progressTracker.event.passStepCount != progressTracker.event.count">
                <page-loading loadingSize="small"></page-loading>
              </div>
            </div>
            <span >Event & tracker metadata</span>
            <div style="text-align: center" item-right >
              {{ progressTracker.event.passStepCount}}/{{ progressTracker.event.count}}
            </div>
          </ion-item>
          <ion-item>
            <div style="text-align: center" item-left >
              <div *ngIf="progressTracker.report.passStepCount == progressTracker.report.count">
                <ion-icon name="done-all" color="favorite"></ion-icon>
              </div>
              <div *ngIf="progressTracker.report.passStepCount != progressTracker.report.count">
                <page-loading loadingSize="small"></page-loading>
              </div>
            </div>
            <span >Report metadata</span>
            <div style="text-align: center" item-right >
              {{ progressTracker.report.passStepCount}}/{{ progressTracker.report.count}}
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>


    <div *ngIf="!isLoginProcessActive">
      <form (ngSubmit)="startLoginProcess()" [ngClass]="animationEffect.loginForm" >
        <ion-row>
          <ion-col >
            <ion-item>
              <ion-input [(ngModel)]="currentUser.serverUrl" type="text" name ="serverUrl" placeholder="{{'enter_server_address'|translate}}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input [(ngModel)]="currentUser.username" type="text" name ="username" placeholder="{{'enter_username'|translate}}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input [(ngModel)]="currentUser.password" name ="password" type="password" placeholder="{{'enter_password'|translate}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col>
            <button type="submit" class="normalButton" ion-button full text-capitalize>
              {{'login'|translate}}
            </button>
          </ion-col>
        </ion-row>
      </form>
    </div>

    <ion-row>
      <ion-col class="bottomSLogan">
        <p>{{'powered_by'|translate}} HISPTZ</p>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
