<ion-content class="login">

  <ion-grid>
    <ion-row>
      <ion-col class="topSLogan animated bounceIn">
        <div class="logo">
          <img [src]="logoUrl">
        </div>
        <p [translate]="'innovation in every dimension'">Innovation in every dimension</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isLoginProcessActive">
      <ion-col [ngClass]="animationEffect.progressBar">
        <progress-bar [progressBarTitle]="loggedInInInstance" [progressBar]="progressBar" (isProcessActive)="cancelLoginProcess($event)">
        </progress-bar>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isLoginProcessActive" [ngClass]="animationEffect.progressBar">
      <ion-col>
        <ion-list>
          <ion-item>
            <div style="text-align: center" item-left>
              <div *ngIf="progressTracker.communication.passStepCount == progressTracker.communication.count">
                <ion-icon name="done-all" color="favorite"></ion-icon>
              </div>
              <div *ngIf="progressTracker.communication.passStepCount != progressTracker.communication.count">
                <loading loadingSize="small"></loading>
              </div>
            </div>
            <span text-wrap *ngIf="progressTracker.communication.message !=''" [translate]="progressTracker.communication.message"></span>
            <span text-wrap *ngIf="progressTracker.communication.message ==''" [translate]="'establishing connection to server'"></span>
            <div style="text-align: center" item-right>
              {{ progressTracker.communication.passStepCount}}/{{ progressTracker.communication.count}}
            </div>
          </ion-item>
          <ion-item>
            <div style="text-align: center" item-left>
              <div *ngIf="progressTracker.entryForm.passStepCount == progressTracker.entryForm.count">
                <ion-icon name="done-all" color="favorite"></ion-icon>
              </div>
              <div *ngIf="hasUserAuthenticated && progressTracker.entryForm.passStepCount != progressTracker.entryForm.count ">
                <loading loadingSize="small"></loading>
              </div>
            </div>
            <span text-wrap *ngIf="progressTracker.entryForm.message !=''" [translate]="progressTracker.entryForm.message"></span>
            <span text-wrap *ngIf="progressTracker.entryForm.message ==''" [translate]="'aggregate metadata'"></span>
            <div style="text-align: center" item-right>
              {{ progressTracker.entryForm.passStepCount}}/{{ progressTracker.entryForm.count}}
            </div>
          </ion-item>
          <ion-item>
            <div style="text-align: center" item-left>
              <div *ngIf="progressTracker.event.passStepCount == progressTracker.event.count">
                <ion-icon name="done-all" color="favorite"></ion-icon>
              </div>
              <div *ngIf="hasUserAuthenticated && progressTracker.event.passStepCount != progressTracker.event.count">
                <loading loadingSize="small"></loading>
              </div>
            </div>
            <span text-wrap *ngIf="progressTracker.event.message !=''" [translate]="progressTracker.event.message"></span>
            <span text-wrap *ngIf="progressTracker.event.message ==''" [translate]="'Event and tracker metadata'">
            </span>
            <div style="text-align: center" item-right>
              {{ progressTracker.event.passStepCount}}/{{ progressTracker.event.count}}
            </div>
          </ion-item>
          <ion-item>
            <div style="text-align: center" item-left>
              <div *ngIf="progressTracker.report.passStepCount == progressTracker.report.count">
                <ion-icon name="done-all" color="favorite"></ion-icon>
              </div>
              <div *ngIf="hasUserAuthenticated && progressTracker.report.passStepCount != progressTracker.report.count">
                <loading loadingSize="small"></loading>
              </div>
            </div>
            <span text-wrap *ngIf="progressTracker.report.message !=''" [translate]="progressTracker.report.message"></span>
            <span text-wrap *ngIf="progressTracker.report.message ==''" [translate]="'report metadata'"></span>
            <div style="text-align: center" item-right>
              {{ progressTracker.report.passStepCount}}/{{ progressTracker.report.count}}
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>


    <div *ngIf="!isLoginProcessActive ">

      <div *ngIf="isLocalInstancesListOpen && !isTranslationListOpen">
        <ion-row>
          <ion-col>
            <div class="round-form-container">
              <available-local-instance (onClose)="toggleLocalInstancesList()" (onSelectCurrentUser)="changeCurrentUser($event)"></available-local-instance>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="!isLocalInstancesListOpen && isTranslationListOpen">
        <ion-row>
          <ion-col>
            <div class="round-form-container">
              <language-translation-selection [currentLanguage]="currentLanguage" (onSelectLanguage)="changeLanguageFromList($event)" (onClose)="toggleTransalationCodesSelectionList()"
                [translationCodes]="translationCodes"></language-translation-selection>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="!isLocalInstancesListOpen && !isTranslationListOpen">
        <form (ngSubmit)="startLoginProcess()" [ngClass]="animationEffect.loginForm">
          <ion-row>
            <ion-col>
              <div class="round-form-container">
                <ion-item>
                  <ion-input [(ngModel)]="currentUser.serverUrl" type="text" name="serverUrl" placeholder="{{'enter server address'|translate}}"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input [(ngModel)]="currentUser.username" type="text" name="username" placeholder="{{'enter username'|translate}}"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input [(ngModel)]="currentUser.password" name="password" type="password" placeholder="{{'enter password'|translate}}"></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <button type="submit" class="normalButton" ion-button full text-capitalize>
                <span [translate]="'login'"></span>
              </button>
            </ion-col>
          </ion-row>
        </form>
        <div *ngIf="localInstances && localInstances.length > 1">
          <div class="strike">
            <span [translate]="'or'"></span>
          </div>
          <button ion-button block clear color="light" text-capitalize (click)="toggleLocalInstancesList()">
            <img class="side-menu-icon" [src]="offlineIcon" />&nbsp;&nbsp;
            <span [translate]="'offline instances'"></span>
          </button>
        </div>
      </div>
    </div>
    <ion-row>
      <ion-col class="bottomSLogan">
        <p>
          <span class="translation-codes">
            <span *ngFor="let code of topThreeTranslationCodes; let currentIndex = index">
              <span (click)="updateTranslationLanguage(code)" [ngClass]="(currentLanguage == code) ?'currentLang' : ''">{{ code }}</span>
              <span *ngIf="currentIndex < 3">&nbsp;|&nbsp;</span>
            </span>
            <span *ngIf="topThreeTranslationCodes.indexOf(currentLanguage) == -1">
              &nbsp;|&nbsp;
              <span (click)="updateTranslationLanguage(currentLanguage)" [ngClass]="'currentLang'">{{ currentLanguage }}</span>
            </span>
            <span (click)="toggleTransalationCodesSelectionList()">
              &nbsp;
              <ion-icon name="ios-more"></ion-icon>
            </span>
          </span>
        </p>
        <p>
          <span class="bottom-sLogan-title">
            <span [translate]="'powered by'"></span> HISPTZ </span>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>