<div class="legendFilter__container" (mouseover)="showButtonIcons()" (mouseout)="hideButtonIcons()">
  <div class="map-legend__container">
    <div class="layers-list">
      <div class="map-legend-list" *ngIf="visualizationLegends.length">
        <div class="map-legend-item" *ngFor="let legend of visualizationLegends; let i = index;">
          <div class="map-legend-header" (click)="setActiveItem(i, $event)">
            <div class="map-legend-title-block">
              <img src="assets/icons/map.png" alt="">
              <span class="map-legend-title">{{legend.legend.title}}</span>
            </div>
            <div class="map-legend-title-options">
              <a (click)="toggleLayerView(legend,'normal',$event)">
                <img *ngIf="!legend.hidden" src="assets/icons/eye.png" alt="">
                <img *ngIf="legend.hidden" src="assets/icons/eye-cross.png" alt="">
              </a>
            </div>
            <div class="filter__button" *ngIf="activeLayer === i && !(isFilterSectionOpen$ | async)" [ngStyle]="{'top': 'calc(' + buttonTop+ 'px)'}">
              <button class="visualization-btn" title="Filter by different dimensions" (click)="openFilters($event)">
                <img alt="" src="assets/icons/filter.png">
              </button>
            </div>
          </div>
          <div class="map-legend-body" *ngIf="activeLayer === i" [ngStyle]="{'max-height': 'calc(' + mapHeight + ' - ' + (visualizationLegends.length + 4)*50 + 'px)'}">
            <span class="period-legend">{{legend.legend.period}}</span>
            <div class="tile-layers-list" *ngIf="legend.legend.type === 'thematic'">
              <div *ngFor="let item of legend.legend.items" class="map-legend-table">
                <div [ngStyle]="{backgroundColor:item.color,width:'60px'}"></div>
                <ul class="map-legend-table-list">
                  <li class="font-weight-bold">{{item.name}}</li>
                  <li>{{item.startValue}} - {{item.endValue}} (0)</li>
                </ul>
              </div>
            </div>
            <div class="tile-layers-list" *ngIf="legend.legend.type === 'facility'">
              <div *ngFor="let item of legend.legend.items" class="map-legend-table">
                <div>
                  <img [src]="item.image">
                </div>
                <ul class="map-legend-table-list">
                  <li class="font-weight-bold">{{item.name}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="map-legend-list">
        <div class="map-legend-item">
          <div class="map-legend-header" (click)="setActiveItem(-1, $event)">
            <div class="map-legend-title-block">
              <img src="assets/icons/map.png" alt="">
              <span class="map-legend-title">Base Maps</span>
            </div>
          </div>
          <div class="map-legend-body" *ngIf="activeLayer === -1" [ngStyle]="{'max-height': 'calc(' + mapHeight + ' - ' + (visualizationLegends.length + 4)*50 + 'px)'}">
            <div class="tile-layers-list">
              <div *ngFor="let tileLayer of LegendsTileLayer" class="tile-layer-item">
                <a class="map-tile-layer-icon" (click)="changeTileLayer(tileLayer)">

                  <img [src]="tileLayer.image" [ngClass]="{'rowActive':tileLayer.active}" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="map-legend-footer">
      <div class="map-legend-left-footer">
        <a title="Show map data table">
          <img src="assets/icons/table.png" alt="">
        </a>
      </div>
      <div class="map-legend-right-footer">
        <a title="Upload GeoJson file">
          <img src="assets/icons/upload.png" alt="">
        </a>
        <a title="Stick Legend" (click)="stickLegendContainer($event)">
          <img *ngIf="!(sticky$ | async)" src="assets/icons/pin-empty.png" alt="">
          <img *ngIf="sticky$ | async" src="assets/icons/pin-filled.png" alt="">
        </a>
        <a title="Close Legend" (click)="closeLegendContainer($event)">
          <img src="assets/icons/close.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
