page-progress-bar {
  .progress-outer {
    width: 100%;
    margin:auto;
    text-align: center;
    background-color: #F4F4F4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 10px;
  }
  .progress-inner {
    min-width: 30px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    background-color: map-get($colors, primary);
    transition: width .4s ease-in-out;
  }
}
