progress-bar {
  .progress-outer {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #F4F4F4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 2px;
  }
  .progress-inner {
    min-width: 10px;
    white-space: nowrap;
    text-align: left;
    overflow: visible;
    color : map_get($colors,dark);
    padding: 3px;
    border-radius: 3px;
    background-color: map-get($colors, primary);
    transition: width .4s ease-in-out;
  }

  .cancel-progress-percentage{
    display: inline-block;
    width: 49.3%;
    float: right
  }

  .percentage{
    color: #7A7A7A;
    font-size: 1.2rem;
    padding-top:1.2rem;
  }
  .cancel-button{
    margin-top:0.65rem;
  }
}
