<!-- Generated template for the DownloadMetaDataComponent component -->

<ion-grid>
  <div *ngIf="!isLoading">
    <!-- <ion-row>
      <ion-col>
        <div class="item-card">
          
        </div>
      </ion-col>
    </ion-row> -->
    <div>
      <div class="item-card" (click)="autoSelect('selectAll')" color="font-color" padding-top padding-bottom ion-button
        clear text-center text-capitalize icon-start>
        <img class="side-menu-icon" [src]="icons.all" />&nbsp;&nbsp;
        <span [translate]="'All'"></span>
      </div>
      <div class="item-card" (click)="autoSelect('unSelectAll')" color="font-color" padding-top padding-bottom
        ion-button clear text-center text-capitalize icon-start>
        <img class="side-menu-icon" [src]="icons.none" />&nbsp;&nbsp;
        <span [translate]="'None'"></span>
      </div>
      <div class="item-card" (click)="checkingForResourceUpdate()" color="font-color" padding-top padding-bottom
        ion-button clear text-center text-capitalize icon-start>
        <img class="side-menu-icon" [src]="icons.done" />&nbsp;&nbsp;
        <span [translate]="'Done'"></span>
      </div>
    </div>
    <div class="item-card">
      <ion-item *ngFor="let resourceObject of resources;trackBy: trackByFn">
        <ion-checkbox color="blue" [(ngModel)]="resourceObject.status"></ion-checkbox>
        <ion-label> {{ resourceObject.displayName }} </ion-label>
      </ion-item>
    </div>
    <div>
      <div class="item-card" (click)="autoSelect('selectAll')" color="font-color" padding-top padding-bottom ion-button
        clear text-center text-capitalize icon-start>
        <img class="side-menu-icon" [src]="icons.all" />&nbsp;&nbsp;
        <span [translate]="'All'"></span>
      </div>
      <div class="item-card" (click)="autoSelect('unSelectAll')" color="font-color" padding-top padding-bottom
        ion-button clear text-center text-capitalize icon-start>
        <img class="side-menu-icon" [src]="icons.none" />&nbsp;&nbsp;
        <span [translate]="'None'"></span>
      </div>
      <div class="item-card" (click)="checkingForResourceUpdate()" color="font-color" padding-top padding-bottom
        ion-button clear text-center text-capitalize icon-start>
        <img class="side-menu-icon" [src]="icons.done" />&nbsp;&nbsp;
        <span [translate]="'Done'"></span>
      </div>
    </div>
  </div>

  <div *ngIf="isUpdateProcessOnProgress">
    <login-metadata-sync (updateCurrentUser)="onUpdateCurrentUser($event)" (failOnLogin)="onFailLogin($event)"
      (successOnLoginAndSyncMetadata)="onSuccessLogin($event)" [currentUser]="currentUser" (cancelProgress)="onCancelLoginProcess()"
      [isOnLogin]="isOnLogin" [processes]="processes"></login-metadata-sync>
  </div>

</ion-grid>
