<!-- Generated template for the DownloadMetaDataComponent component -->

<ion-grid>
  <div *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <button ion-button block style="text-transform: none;" (tap)="autoSelect('selectAll')">
          <span [translate]="'Select all'"></span></button>
      </ion-col>
      <ion-col>
        <button ion-button block style="text-transform: none;" (tap)="autoSelect('unSelectAll')">
          <span [translate]="'Deselect all'"></span> </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngFor="let resourceObject of resources;trackBy: trackByFn">
          <ion-item>
            <ion-checkbox color="blue" [(ngModel)]="resourceObject.status"></ion-checkbox>
            <ion-label> {{ resourceObject.displayName }} </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button style="text-transform: none;" (tap)="checkingForResourceUpdate()" block>
        <span [translate]="'Download metadata'"></span> </button>
    </ion-row>
  </div>

  <div *ngIf="isUpdateProcessOnProgress">
    <login-metadata-sync (updateCurrentUser)="onUpdateCurrentUser($event)" (failOnLogin)="onFailLogin($event)"
      (successOnLoginAndSyncMetadata)="onSuccessLogin($event)" [currentUser]="currentUser" (cancelProgress)="onCancelLoginProcess()"
      [isOnLogin]="isOnLogin" [processes]="processes"></login-metadata-sync>
  </div>

</ion-grid>
