page-full-screen-dashboard {
  .full-screen-dashboard-item-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1500;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
  }

  .full-screen-dashboard-item-card {
    display: flex;
    position: relative;

  }

  .full-screen-dashboard-item-header {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 2000;
    justify-content: flex-end;
  }

  .full-screen-dashboard-item-close {
    cursor: pointer;
    padding: 10px;
  }

  .full-screen-dashboard-item-close img {
    height: 25px;
  }

  .full-screen-dashboard-item-body {
    width: 100%;
  }

}
