<div class="item-card">
  <ion-row>
    <ion-col padding-top padding-bottom>
      <div>
        <span>Synced</span>
      </div>
    </ion-col>
    <ion-col size="auto" no-padding>
      <div float-right>
        <ion-item lines="none">
          <ion-badge color="primary">0</ion-badge>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
</div>

<div class="item-card">
  <ion-row>
    <ion-col padding-top padding-bottom>
      <div>
        <span>Not Synced</span>
      </div>
    </ion-col>
    <ion-col size="auto" no-padding>
      <div float-right>
        <ion-item lines="none">
          <ion-badge color="primary">0</ion-badge>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
</div>
