app-interpretation-list {
    .interpretation-container {
        overflow: auto;
    }
    .interpretation-block {
        position: relative;
        padding: 10px 10px 60px 10px;
        overflow: auto;
    }
    .interpretation-item {
        display: flex;
        margin-top: 10px;
        width: 100%;
        padding-top: 10px;
        overflow: auto;
    }
    .interpretation-item-border {
        border-top: solid 1px #eeeeee;
    }
    .interpretation-input {
        border-style: none;
        border-bottom: solid 1px #eeeeee;
        padding: 5px;
        width: 100%;
    }
    .interpretation-input:focus {
        outline: none;
    }
    .interpretation-user {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding-top: 8px;
        padding-left: 6px;
        font-size: 15px;
        border: solid 2px #dddddd;
        color: #9e9e9e;
    }
    .interpretation-user-block {
        width: 50px;
    }
    .interpretation-body {
        position: relative;
        width: 100%;
        padding-left: 10px;
    }
    .interpretation-options {
        display: flex;
    }
    .interpretation-comment-btn {
        font-size: 12px;
        text-decoration: none;
        margin-right: 10px;
    }
    .interpretation-text {
        padding-bottom: 5px;
    }
    .interpretation-more-options {
        position: absolute;
        right: 15px;
    }
    .interpretation-more-options-dropdown {
        position: absolute;
        top: 100%;
        right: 2px;
        z-index: 900;
        float: left;
        min-width: 90px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #ffffff;
        border-radius: 4px;
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.175);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.175);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
    .interpretation-more-options-dropdown>li>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        white-space: nowrap;
        text-decoration: none;
    }
    .interpretation-more-options-dropdown>li>a:hover {
        background-color: #eeeeee;
    }
    .interpretation-last-updated {
        color: #777777;
        font-size: 12px;
    }
    .interpretation-last-updated :hover {
        display: none;
    }
    .interpretation-more-btn {
        display: inline-block;
        border-radius: 2px;
    }
    .interpretation-more-btn:hover {
        background-color: #dddddd;
    }
    .interpretation-write-input {
        background-color: transparent;
    }
    .comment-btn {
        margin-top: 5px;
        /*padding-left: 10px;*/
        /*padding-top: 5px;*/
        /*padding-bottom: 5px;*/
        text-decoration: none;
    }
    .interpretation-write-form {
        position: absolute;
        display: flex;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, .9);
        z-index: 1200;
        bottom: 2px;
        left: 0;
        right: 0;
    }
    .interpretation-comment-container {
        border-left: solid 2px rgba(238, 238, 238, 0.44);
    }
    .interpretation-input-block {
        display: block;
        padding-left: 10px;
        width: 100%;
    }
    .interpretation-comment-block {
        max-height: 200px;
        overflow: auto;
    }
    .interpretation-comment-input-area {
        background-color: rgba(255, 255, 255, .9);
    }
}