<!-- Generated template for the ClearLocalDataComponent component -->

<ion-row>
  <ion-col *ngIf="!showLoadingMessage">
    <ion-item>
      <ion-label>Data values</ion-label>
      <ion-checkbox [(ngModel)]="selectedItems.dataValues" (ionChange)="resetDeletedItems()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Events </ion-label>
      <ion-checkbox [(ngModel)]="selectedItems.events" (ionChange)="resetDeletedItems()" ></ion-checkbox>
    </ion-item>

    <button [disabled]="itemsToBeDeleted.length < 1"
            [color]="isDataCleared?'primary':'whitecolor'"
            class="normalButton" ion-button small  full text-capitalize (tap)="clearDataConfirmation()">

      <span *ngIf="isDataCleared" >
                    Clear data
                  </span>
    </button>

  </ion-col>

</ion-row>

<span *ngIf="showLoadingMessage" >
                    <page-loading loadingSize="large" [loadingMessage]="LoadingMessages"></page-loading>
                  </span>
