<data-time-input [mode]="'date'" [(inputValue)]="inputFieldValue" (dateTimeUpdateAction)="updateValue($event)"></data-time-input>
<ion-row class="item-card-age-input-container">
  <ion-col>
    <div>
      Years
      <div class="item-card-age-input">
        <ion-item no-lines>
          <ion-input type="number" min="0" (ionBlur)="setCurrentDate()" [(ngModel)]="currentAge.years"></ion-input>
        </ion-item>
      </div>
    </div>
  </ion-col>
  <ion-col>
    <div>
      Months
      <div class="item-card-age-input">
        <ion-item no-lines>
          <ion-input type="number" min="0" (ionBlur)="setCurrentDate()" [(ngModel)]="currentAge.months"></ion-input>
        </ion-item>
      </div>
    </div>
  </ion-col>
  <ion-col>
    <div>
      Days
      <div class="item-card-age-input">
        <ion-item no-lines>
          <ion-input type="number" min="0" (ionBlur)="setCurrentDate()" [(ngModel)]="currentAge.days"></ion-input>
        </ion-item>
      </div>

    </div>
  </ion-col>
</ion-row>
