<!-- Generated template for the TableCardComponent component -->
<div>

  <table class="table table-bordered" width="100%">
    <thead>
    <tr *ngFor="let header of tableObject.headers; let j = index">
      <th *ngFor="let table_column of tableObject.columns; let i = index" style="text-align: center">
        {{ tableObject.titles.rows[j] }} / {{ tableObject.titles.column[i]}}
      </th>
      <th *ngFor="let header_column of header.items" [colSpan]="header_column.span"
          style="text-align: center">
        {{ header_column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of tableObject.rows">
      <td *ngFor="let header_column of row.items" style="text-align: center;vertical-align: middle"
          [attr.rowspan]="header_column.row_span">
        {{ header_column.val }}
      </td>
    </tr>
    </tbody>
  </table>

</div>
