<!--
  Generated template for the EventCapturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Event Capture</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="item-card" color="font-color" padding-top padding-bottom ion-button clear full text-center text-capitalize (tap)="openOrganisationUnitTree()" >
          <img  class="side-menu-icon" [src]="icons.orgUnit"/>&nbsp;&nbsp;
          {{ organisationUnitLabel }}
        </div>
        <div class="item-card" color="font-color" padding-top padding-bottom ion-button clear full text-center text-capitalize (tap)="openProgramList()" >
          <img  class="side-menu-icon" [src]="icons.program"/>&nbsp;&nbsp;
          {{ programLabel }}
        </div>
        <div *ngIf="programCategoryCombo && programCategoryCombo.id ">
          <div *ngIf="isProgramDimensionApplicable">
            <div *ngFor="let category of programCategoryCombo.categories;let categoryIndex = index">
              <div (tap)="openDataDimensionSelection(category)" padding-top padding-bottom class="item-card" color="font-color" full text-center text-wrap  >
                <div style="padding-bottom: 5px;"><b>{{ category.name }}</b></div>
                <div *ngIf="selectedDataDimension[categoryIndex]">{{ selectedDataDimension[categoryIndex].name }}</div>
                <div *ngIf="!selectedDataDimension[categoryIndex]">Touch to select option</div>
              </div>
            </div>
          </div>
          <div class="item-card" padding-top padding-bottom *ngIf="!isProgramDimensionApplicable">
            <warning [warningMessage]="programDimensionNotApplicableMessage" ></warning>
          </div>
        </div>


      </ion-col>
    </ion-row>

    <div *ngIf = "isFormReady">
      isFormReady : {{ isFormReady }}<br>
      getDataDimensions : {{ getDataDimensions()|json }}
    </div>
  </ion-grid>


  <div *ngIf = "showEmptyList">
    <empty-list-notification [emptyListMessage]="'There are no events to display'"></empty-list-notification>
  </div>


  <!-- display events as table -->
  <div style="overflow-x: auto">
    <table *ngIf ="!showEmptyList">
      <thead>
      <tr>
        <th *ngFor="let header of tableFormatHeader">{{header.name}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of tableFormatRow" (tap)="goToEventView(row)" >
        <td >{{row.value}} </td>
      </tr>
      </tbody>
    </table>
  </div>




  <ion-fab bottom left>
    <button ion-fab (tap)="showFieldSelectionMenu()" color="light">
      <ion-icon name="ios-eye" color="primary" ></ion-icon>
    </button>
  </ion-fab>



</ion-content>
