page-update-manager-home {
  .updateManager{
    background-color: #F4F4F4;
  }
  .updateManagerContents{
    background-color: #F4F4F4;
  }

  .item-md.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #dedede;
  }

  .item-ios.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #dedede;
  }
}
