<!--
  Generated template for the UpdateManagerHome page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" mode="md">
    <ion-title>Sync Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="updateManager">

  <ion-grid>
    <div class="item-card" *ngFor="let syncContent of syncContents">
      <ion-row (tap)="toggleSyncContents(syncContent)">
        <ion-col col-11>
          <img  class="side-menu-icon" [src]="syncContent.icon"/>&nbsp;&nbsp;
          <span ion-text [color]="(isSyncContentOpen[syncContent.id]) ?'current' : 'font-color'">
              {{ syncContent.name }}
            </span>
        </ion-col>
        <ion-col col-1 item >
          <div style="text-align: center;">
            <ion-icon [color]="(isSyncContentOpen[syncContent.id]) ?'current' : 'font-color'" *ngIf="!(isSyncContentOpen[syncContent.id])" name="ios-arrow-down" item-right></ion-icon>
            <ion-icon [color]="(isSyncContentOpen[syncContent.id]) ?'current' : 'font-color'" *ngIf="(isSyncContentOpen[syncContent.id])" name="ios-arrow-up" item-right></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <div *ngIf="(isSyncContentOpen[syncContent.id])" >
        <hr>

        <div *ngIf="syncContent.id == 'dataViaSms'">
          <page-send-data-via-sms></page-send-data-via-sms>
        </div>

        <div *ngIf="syncContent.id == 'downloadMetadata'">
          <div *ngIf="updateManagerObject.updateMetadata.isProcessRunning">
            <page-loading loadingSize="large" [loadingMessage]="updateMetadataLoadingMessages"></page-loading>
          </div>
          <div *ngIf="!updateManagerObject.updateMetadata.isProcessRunning">
            <ion-row>
              <ion-col col-6>
                <button [disabled]="!updateManagerObject.updateMetadata.isSaved" ion-button small full text-capitalize class="normalButton" (tap)="checkingForResourceUpdate()">Update</button>
              </ion-col>
              <ion-col col-6>
                <button [disabled]="!updateManagerObject.updateMetadata.isSaved" ion-button small full text-capitalize class="normalButton" (tap)="autoSelect('selectAll')" *ngIf="!hasAllSelected"> Select All</button>
                <button [disabled]="!updateManagerObject.updateMetadata.isSaved" ion-button small full text-capitalize class="normalButton" (tap)="autoSelect('unSelectAll')" *ngIf="hasAllSelected">Un-select all</button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col >
                <ion-list>
                  <div *ngFor="let resourceObject of resources">
                    <ion-item>
                      <ion-label>{{ resourceObject.displayName }}</ion-label>
                      <ion-checkbox [(ngModel)]="resourceObject.status" color="favorite"></ion-checkbox>
                    </ion-item>
                  </div>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col >
                <button ion-button large small text-capitalize class="normalButton" (tap)="checkingForResourceUpdate()">Update</button>
              </ion-col>
            </ion-row>
          </div>


        </div>

        <div *ngIf="syncContent.id == 'clearData'">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Data values</ion-label>
                <ion-checkbox [(ngModel)]="updateManagerObject.dataDeletion.selectedItems.dataValues" (ionChange)="resetDeletedItems()"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Events </ion-label>
                <ion-checkbox [(ngModel)]="updateManagerObject.dataDeletion.selectedItems.events" (ionChange)="resetDeletedItems()" ></ion-checkbox>
              </ion-item>

              <button [disabled]="updateManagerObject.dataDeletion.itemsToBeDeleted.length < 1" [color]="updateManagerObject.dataDeletion.isDataCleared?'primary':'whitecolor'" class="normalButton" ion-button small  full text-capitalize (tap)="clearDataConfirmation()">
                  <span *ngIf="!updateManagerObject.dataDeletion.isDataCleared" >
                    <page-loading loadingSize="small"></page-loading>
                  </span>
                <span *ngIf="updateManagerObject.dataDeletion.isDataCleared" >
                    Clear data
                  </span>
              </button>

            </ion-col>
          </ion-row>
        </div>

      </div>
    </div>
  </ion-grid>
</ion-content>
