<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Period selection
    </ion-title>
    <ion-buttons start>
      <button class="normalButton" ion-button text-capitalize full large (tap)="dismiss()">
        close
        <!--<ion-icon name="md-close"></ion-icon>-->

      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "periodSelection">

  <ion-grid>
    <ion-row>
      <ion-col >
        <button class="dataEntryButton" text-capitalize ion-button full large (tap)="previous()" color="whitecolor">Previous</button>
      </ion-col>
      <ion-col >
        <button class="dataEntryButton" text-capitalize ion-button full large (tap)="next()" color="whitecolor">Next</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
        <ion-item *ngFor="let period of periodList" (tap)="setSelectedPeriod(period)">
          <ion-icon name="list" item-left></ion-icon>
          <span >{{ period.name }}</span>
        </ion-item>
        <ion-item *ngIf = "periodList.length == 0">
          There is no period to select
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
