<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Period selection
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "periodSelection" padding>

  <ion-row>
    <ion-col width="50">
      <button ion-button full (click)="previous()">Previous</button>
    </ion-col>
    <ion-col width="50">
      <button ion-button full (click)="next()">Next</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width="100">
      <ion-item *ngFor="let period of periodList" (click)="setSelectedPeriod(period)">
        <ion-icon name="list" item-left></ion-icon>
        <span >{{ period.name }}</span>
      </ion-item>
      <ion-item *ngIf = "periodList.length == 0">
        There is no period to select
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>
