<!--
  Generated template for the PeriodSelectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Period selection
    </ion-title>
    <ion-buttons start>
      <button class="normalButton" ion-button text-capitalize full large (tap)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <div class="item-card" color="font-color" ion-button clear full text-center text-capitalize (tap)="changePeriodSelection(currentPeriodOffset - 1)" >
          Previous
        </div>
      </ion-col>
      <ion-col >
        <div class="item-card" color="font-color" ion-button clear full text-center text-capitalize (tap)="changePeriodSelection(currentPeriodOffset + 1)" >
          Previous
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item *ngFor="let period of periods" (tap)="setSelectedPeriod(period)">
          <img  class="side-menu-icon" [src]="icon"/>&nbsp;
          <span ion-text [color]="(currentPeriod.iso == period.iso) ?'current' : 'font-color'">{{ period.name }}</span>
        </ion-item>
        <ion-item *ngIf = "periods.length == 0">
          There is no period to select
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
