<!--
  Generated template for the DataEntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Data Entry</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="item-card" color="font-color" padding-top padding-bottom ion-button clear full text-center text-capitalize (tap)="openOrganisationUnitTree()" >
          <img  class="side-menu-icon" [src]="icons.orgUnit"/>&nbsp;&nbsp;
          {{ organisationUnitLabel }}
        </div>

        <div class="item-card" color="font-color" padding-top padding-bottom ion-button clear full text-center text-capitalize (tap)="openEntryFormList()" >
          <img  class="side-menu-icon" [src]="icons.dataSet"/>&nbsp;&nbsp;
          {{ dataSetLabel }}
        </div>

        <div class="item-card" color="font-color" padding-top padding-bottom ion-button clear full text-center text-capitalize (tap)="openPeriodList()" >
          <img  class="side-menu-icon" [src]="icons.period"/>&nbsp;&nbsp;
          {{ periodLabel }}
        </div>

        <div *ngIf="selectedPeriod && selectedPeriod.iso && dataSetCategoryCombo && dataSetCategoryCombo.id ">
          <div *ngIf="isDataSetDimensionApplicable">
            <div *ngFor="let category of dataSetCategoryCombo.categories;let categoryIndex = index">
              <div (tap)="openDataDimensionSelection(category)" padding-top padding-bottom class="item-card" color="font-color" full text-center text-wrap  >
                <div style="padding-bottom: 5px;"><b>{{ category.name }}</b></div>
                <div *ngIf="selectedDataDimension[categoryIndex]">{{ selectedDataDimension[categoryIndex].name }}</div>
                <div *ngIf="!selectedDataDimension[categoryIndex]">Touch to select option</div>
              </div>
            </div>
          </div>
          <div class="item-card" padding-top padding-bottom *ngIf="!isDataSetDimensionApplicable">
            <warning [warningMessage]="isDataSetDimensionApplicableCategoriesMessage" ></warning>
          </div>
        </div>
        <div *ngIf="isFormReady" class="item-card" padding-top padding-bottom full (tap)="openDataEntryForm()">
          <div><b>Organisation Unit</b> : {{ organisationUnitLabel }}<br>
            <b>Form</b> : {{ dataSetLabel }}<br>
            <b>Period</b> : {{ periodLabel }}
          </div>
          <div class="item-card" color="font-color"  ion-button clear full text-center text-capitalize >
            <img  class="side-menu-icon" [src]="icons.goToDataEntryForm"/>&nbsp;&nbsp;
            Enter data
          </div>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>



</ion-content>
