empty-list-notification {

  .image-container{
    margin: auto;
    width: 45%;
  }
  .image-container img{
    margin-top:10%;
  }
  .empty-list{
    text-align: center;
  }
  .empty-list p{
    margin-top:2%;
    text-align: center;
  }
}
