<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Program selection selection
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class = "programFormSelection">

  <ion-searchbar animated="true"  (ionInput)="getFilteredList($event)"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col width="100">
        <ion-list>
          <ion-item *ngFor="let program of programsList"   (click)="setSelectedProgram(program)">
            <ion-icon name="list" item-left></ion-icon>
            <span (click)="setSelectedProgram(program)" [color]="(currentSelectectedProgram == program.name)? 'current': 'dark'" >{{ program.name}}</span>
          </ion-item>
          <ion-item *ngIf = "programsList.length == 0">
            There is no Program to select
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
