<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Program selection selection
    </ion-title>
    <ion-buttons start>
      <button class="normalButton" ion-button text-capitalize full large (tap)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content >

  <ion-searchbar animated="true"  (ionInput)="getFilteredList($event)" ></ion-searchbar>
  <ion-grid >
    <ion-row>
      <ion-col  >
        <ion-list class = "programFormSelection">
          <ion-item *ngFor="let program of programsList"   (tap)="setSelectedProgram(program)">
            <img  class="side-menu-icon" [src]="icons.program"/>&nbsp;&nbsp;
            <span ion-text [color]="(currentProgram.id == program.id)? 'current': 'font-color'" >{{ program.name}}</span>
          </ion-item>
          <ion-item *ngIf = "programsList.length == 0">
            <empty-list-notification [emptyListMessage]="'There is no Program to select'"></empty-list-notification>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
