page-visualization-card {
  chart {
    display: block;
    .highcharts-container{
      padding-top: 5px;
      margin:auto;
      width: 90%;
      text-align: left;
    }
  }

  .item-md.item-block .item-inner {

  }
  .item-ios.item-block .item-inner {
    border-bottom: 0px solid #c8c7cc!important;;
  }


  ion-col[width-90] {
    max-width: 86.5%;
  }



  .visualizationCard {
    min-height : 200px;
    overflow:auto;
    background: #FFFFFF;
  }

  .visualizationLoader{
    padding-top: 75px;
  }

  ion-spinner * {
    width: 50px;
    height: 50px;
  }

  .chart-icon{
    width : 20px!important;
    margin: auto;
  }
  .fab[mini] {
    margin: 4px 5px 4px 0px!important
  }

  .fab {
    display: inline-block !important;
  }

}
