page-visualization-card {
  chart {
    display: block;
    .highcharts-container{
      margin:auto;
      width: 90%;
      text-align: left;
    }
  }

  ion-col[width-90] {
    max-width: 86.5%;
  }

  .visualizationCard {
    min-height : 200px;
    overflow:auto;
    background: #FFFFFF;
  }

  .chart-icon{
    width : 20px!important;
    margin: auto;
  }
  .fab[mini] {
    margin: 4px 5px 4px 0px!important
  }

  .fab {
    display: inline-block !important;
  }

  img{
    //width : 40px!important;
    //margin : auto;
  }
}
