
<div *ngIf="isLoading">
  <page-loading loadingSize="large" [loadingMessage] = "loadingMessage"></page-loading>
</div>
<div *ngIf="!isLoading" class="whiteBackground">
  <ion-grid class="whiteBackground">
    <ion-row class="whiteBackground">
      <ion-col >
        <div *ngFor="let dataElement of dataElements" >
          <div class="contents">
            <p ><b>Form Label : </b>{{ dataElement.name }}<br>
              <b>Period : </b>{{ dataElement.period}}<br>
              <b>value : </b>{{ dataElement.value }}<br>
              <b>Organisation Unit : </b>{{ dataElement.orgUnit}}</p>
            <hr>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


