<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'dashboard'|translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-grid>
        <!-- loading area -->
        <div *ngIf="loading$ | async">
            <loading [loadingMessage]="'loading_dashboard'|translate" [loadingSize]="'large'"></loading>
        </div>
        <!-- end of loading area -->

        <div *ngIf="!(loading$ |async)">
            <!-- header section -->
            <div class="entry-selection-container " (tap)="openDashboardListFilter()">
                <ion-row>
                    <ion-col col-11>
                        {{ (currentDashboard$ | async)?.name }}
                    </ion-col>
                    <ion-col col-1>
                        <img [src]="icons['menu']" width="20" height="20">
                    </ion-col>
                </ion-row>
            </div>
            <!-- end of header section -->

            <!-- no dashboard section -->
            <div *ngIf="(visualizationObjects$ | async).length == 0">
                <empty-list-notification [emptyListMessage]="'there_no_dashboard_item_found'|translate"></empty-list-notification>
            </div>
            <!-- end of no dashboard section -->

            <!--cards for visualization -->
            <div class="dashboard-card" *ngFor="let visualizationObject of visualizationObjects$ | async">

                <!-- visualization card title section -->
                <ion-row (tap)="toggleVisualization(visualizationObject)">
                    <ion-col col-11>
                        <ion-icon color="primary">
                            <img class="dashboard-item-icon" [src]="icons[visualizationObject.details.currentVisualization]" />
                        </ion-icon>
                        <span ion-text [color]="(visualizationObject.details.expanded) ?'current' : 'font-color'">
                            {{ visualizationObject.name }}
                        </span>
                    </ion-col>
                    <ion-col col-1 item>
                        <div style="text-align: center;">
                            <ion-icon *ngIf="!visualizationObject.details.expanded" name="ios-arrow-down" [color]="(visualizationObject.details.expanded) ?'current' : 'font-color'"
                                item-right></ion-icon>
                            <ion-icon *ngIf="visualizationObject.details.expanded" name="ios-arrow-up" [color]="(visualizationObject.details.expanded) ?'current' : 'font-color'"
                                item-right></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <!-- end of visualization card title section -->

                <!-- visualization card body section -->
                <ion-row *ngIf="visualizationObject.details.expanded">
                    <ion-col>
                        <!-- visualization card loading section -->
                        <div *ngIf="!visualizationObject.details.loaded">
                            <loading [loadingSize]="'large'" [loadingMessage]="'loading_visualization'|translate"></loading>
                        </div>
                        <!-- end of visualization card loading section -->

                        <!-- visualization card error message section -->
                        <div *ngIf="visualizationObject.details.loaded && visualizationObject.details.hasError">
                            <warning [warningMessage]="visualizationObject.details.ErrorMessage"></warning>
                        </div>
                        <!-- end of visualization card error message section -->

                        <div *ngIf="visualizationObject.details.loaded && !visualizationObject.details.hasError" class="dashboard-card-body">

                            <div [style.minHeight]="'200px'" [style.maxHeight]="visualizationObject.details.itemHeight">
                                <!--chart visualization-->
                                <div class="chart-visualization">
                                    <app-chart-list *ngIf="visualizationObject.details.currentVisualization === 'CHART'" [visualizationLayers]="visualizationObject.layers"
                                        [visualizationId]="visualizationObject.id" [chartHeight]="visualizationObject.details.itemHeight"></app-chart-list>
                                </div>
                                <!--end of chart visualization-->
                                <!--table block-->
                                <div class="table-visualization">
                                    <app-table-list *ngIf="visualizationObject.details.currentVisualization === 'TABLE'" [visualizationType]="visualizationObject.type"
                                        [visualizationLayers]="visualizationObject.layers">

                                    </app-table-list>
                                </div>
                                <!--end of table block-->

                                <!-- map block -->
                                <div class="map-container" *ngIf="visualizationObject.details.currentVisualization === 'MAP'">
                                    <app-map [vizObject]="visualizationObject"></app-map>
                                </div>
                                <!-- end of map block -->
                                <!-- users block -->
                                <div class="users-container-block" *ngIf="visualizationObject.details.currentVisualization === 'USERS'">
                                    <app-users-container [visualizationLayers]="visualizationObject.layers"></app-users-container>
                                </div>
                                <!-- end of users block -->

                                <!-- resources block -->
                                <div class="resources-container-block" *ngIf="visualizationObject.details.currentVisualization === 'RESOURCES'">
                                    <app-resources-container [visualizationLayers]="visualizationObject.layers"></app-resources-container>
                                </div>
                                <!-- end of resources block -->

                                <!-- resources block -->
                                <div class="resources-container-block" *ngIf="visualizationObject.details.currentVisualization === 'REPORTS'">
                                    <app-reports-container [visualizationLayers]="visualizationObject.layers"></app-reports-container>
                                </div>
                                <!-- end of resources block -->

                                <!-- app block -->
                                <div class="app-container-block" *ngIf="visualizationObject.details.currentVisualization === 'APP'">
                                    <app-app-container [height]="visualizationObject.details.itemHeight" [currentUser]="currentUser$ | async" [appUrl]="'api/apps/' + visualizationObject.details.appKey + '/index.html?dashboardItemId=' + visualizationObject.id"></app-app-container>
                                </div>
                                <!-- end of app block -->

                                <!--dictionary block-->
                                <div class="dictionary-container" [style.maxheight]="visualizationObject.details.cardHeight" *ngIf="visualizationObject.details.currentVisualization === 'INFO'">
                                    <app-dictionary-list [metadataIdentifiers]="visualizationObject.details.metadataIdentifiers"></app-dictionary-list>
                                </div>
                                <!--end of dictionary block-->
                            </div>
                        </div>

                        <!-- visualization interpretation -->
                        <div *ngIf="opendeInterpreationsMapper[visualizationObject.id]">
                            <div class="interpretation-container" *ngIf="visualizationObject.details.loaded && !visualizationObject.details.hasError && !visualizationObject.details.nonVisualizable">
                                <div class="interpretation-list" *ngFor="let layer of visualizationObject.layers">
                                    <app-interpretation-list [interpretations]="layer.interpretation.interpretations" [visualizationTypeObject]="{id: layer.interpretation.id, type: layer.interpretation.type}"
                                        [currentUser]="currentUser$ | async" [rootUrl]="''" [itemHeight]="'100px'"></app-interpretation-list>
                                </div>
                            </div>
                        </div>
                        <!-- end of visualization interpretation -->
                    </ion-col>

                    <div class="visualization-card-footer" *ngIf="visualizationObject.details.loaded">
                        <div *ngIf="visualizationObject.details.nonVisualizable">&nbsp;</div>
                        <div class="visualization-card-footer-left" *ngIf="!visualizationObject.details.nonVisualizable">
                            <app-visualization-types-section (onToggleInterpretation)="toggleInterpretation(visualizationObject)" [currentVisualization]="visualizationObject.details.currentVisualization"
                                (onCurrentVisualizationChange)="currentVisualizationChange($event,visualizationObject)"></app-visualization-types-section>
                        </div>
                    </div>
                </ion-row>
                <!-- end of visualization card body section -->

            </div>
        </div>
    </ion-grid>
</ion-content>