page-dashboard {
    .list-separator {
        height: 1.7rem;
    }
    .dashboard-card {
        border: 1px solid #e6e6e7;
        border-radius: 0.1rem;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .dashboard-card-body {
        overflow: hidden;
    }
    .table-visualization {
        overflow: auto !important;
    }
    .item-md.item-block .item-inner {
        padding-right: 5px;
        border-bottom: 0px solid #dedede;
    }
    .item-ios.item-block .item-inner {
        padding-right: 5px;
        border-bottom: 0px solid #dedede;
    }
    .visualization-card-footer {
        position: relative;
        left: 0;
        bottom: 0;
        padding: 5px;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .table-container-block,
    .users-container-block,
    .resources-container-block {
        padding: 20px 10px 10px 10px;
        overflow: auto;
    }
    .map-container {
        overflow: hidden;
    }
    .dictionary-container {
        overflow: auto;
        padding: 10px;
    }
}