<!--
  Generated template for the EntryFormSectionList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-title>
      Entry form section list
    </ion-title>
    <ion-buttons start>
      <button class="normalButton" ion-button text-capitalize full large (tap)="dismiss()">
        close
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content class="entry-form-section-list">

  <ion-grid>
    <ion-searchbar animated="true"autocomplete="on" placeholder="Search dashboard by name"  (ionInput)="getFilteredList($event)"></ion-searchbar>
    <ion-row>
      <ion-col width="100">
        <ion-list>
          <ion-item *ngFor="let entryFormSection of entryFormSections" (tap)="setCurrentEntryFormSection(entryFormSection)" class="list-separator">
            <span ion-text [color]="(currentEntryFormId == entryFormSection.id) ?'current' : 'font-color'" >{{ entryFormSection.name }}</span>
          </ion-item>
          <ion-item *ngIf="entryFormSections.length == 0">
            There no entry form section found
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
