<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-row>
  <ion-col>
    <div>
      <div *ngIf="valueType == 'INTEGER' ||valueType == 'NUMBER'">
        <ion-item no-lines>
          <ion-input type="number" (ionBlur)="updateValues()" [(ngModel)]="inputFieldValue"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="valueType == 'INTEGER_POSITIVE'">
        <ion-item no-lines>
          <ion-input type="number" min="1" (ionBlur)="updateValues()" [(ngModel)]="inputFieldValue"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="valueType == 'INTEGER_NEGATIVE'">
        <ion-item no-lines>
          <ion-input type="number" max="-1" (ionBlur)="updateValues()" [(ngModel)]="inputFieldValue"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="valueType == 'INTEGER_ZERO_OR_POSITIVE'">
        <ion-item no-lines>
          <ion-input type="number" min="0" (ionBlur)="updateValues()" [(ngModel)]="inputFieldValue"></ion-input>
        </ion-item>
      </div>
    </div>
  </ion-col>
  <ion-col col-auto *ngIf="showBarcodeScanner">
    <div float-right>
      <barcode-input [barcodeSettings]="barcodeSettings" (barcodeReaderChange)="onChangeBarcodeReader($event)"></barcode-input>
    </div>
  </ion-col>
</ion-row>
