
      <div *ngFor="let dataSetId of dataSetIds" class="whiteBackground" >
        <div *ngIf="dataSetsSyncObjects[dataSetId] && dataSetsSyncObjects[dataSetId].name != ''" >
          <!--<ion-card>-->
          <ion-card class="content">
            <ion-item class="content">
              <div (tap)="viewMoreDetailsOnEntryForm(dataSetId)">
                  <p >
                    <b>Form : </b>{{dataSetsSyncObjects[dataSetId].name}}<br>
                    <b>Data : </b>{{dataSetsSyncObjects[dataSetId].dataValues.length}}
                  </p>
              </div>

            <ion-icon *ngIf="!syncProcess[dataSetId] && syncStatus === 'Not synced'"
                      (tap)="syncSelectedDataSetData(dataSetsSyncObjects[dataSetId],dataSetsSyncObjects[dataSetId].name,dataSetId)"
                      margin-right="10px" color="primary" clear  name="sync" item-right></ion-icon>
            <ion-icon *ngIf="syncProcess[dataSetId]"
                      margin-right="10px" item-right><page-loading loadingSize="small"></page-loading></ion-icon>

            <ion-icon (tap)="dataSetDataDeleteConfirmation(dataSetsSyncObjects[dataSetId].name,dataSetId)"
                      *ngIf="!isDataSetDataDeletionOnProgress[dataSetId]"
                      color="danger" clear  name="md-trash" item-right></ion-icon>

            <ion-icon *ngIf="isDataSetDataDeletionOnProgress[dataSetId]"
                      margin-right="10px" item-right><page-loading loadingSize="small"></page-loading></ion-icon>

            </ion-item>
          </ion-card>
          <!--</ion-card>-->
        </div>
      </div>






