<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item text-capitalize (tap)="openOrganisationUnitModal()">
          <div style="text-align: center" item-left>
            <div *ngIf="!currentSelectionStatus.isOrgUnitLoaded">
              <page-loading loadingSize="small"></page-loading>
            </div>
          </div>
          <div *ngIf="currentSelectionStatus.isOrgUnitLoaded" style="text-align: center">
            {{ selectedOrganisationUnitLabel }}
          </div>
            <span *ngIf="!currentSelectionStatus.isOrgUnitLoaded" >
              Loading organisation units
            </span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item text-capitalize (tap)="openDataSetsModal()" >
          <div style="text-align: center" item-left>
            <div *ngIf="!currentSelectionStatus.isDataSetLoaded">
              <page-loading loadingSize="small"></page-loading>
            </div>
          </div>
          <div *ngIf="currentSelectionStatus.isDataSetLoaded" style="text-align: center" >
            {{ selectedDataSetLabel }}
          </div>
            <span *ngIf="!currentSelectionStatus.isDataSetLoaded" >
              Loading entry forms
            </span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item text-capitalize (tap)="openPeriodModal()" >
          <div style="text-align: center">
            {{ selectedPeriodLabel }}
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <div *ngIf="selectedPeriod">
      <div *ngIf="selectedPeriod.name">
        <div *ngIf="selectedDataSet.categoryCombo">
          <div *ngIf="selectedDataSet.categoryCombo.name != 'default'">
            <ion-row >
              <ion-col width="100">
                <ion-list>
                  <ion-item *ngFor="let category of selectedDataSet.categoryCombo.categories;let categoryIndex = index ">
                    <ion-label>{{ category.name }}</ion-label>
                    <ion-select [(ngModel)]="selectedDataDimension[categoryIndex]">
                      <ion-option *ngFor="let option of category.categoryOptions" value="{{option.id}}" >
                        {{ option.name }}
                      </ion-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedPeriod">
      <div *ngIf="selectedPeriod.name && hasDataDimensionSet()">
        <ion-row >
          <ion-col>
            <ion-item>
              <ion-input type="text" placeholder="Mobile Number"  [(ngModel)]="sendDataViaSmsObject.mobileNumber"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col>
            <button class="normalButton" [disabled]="sendDataViaSmsObject.mobileNumber ==''||sendDataViaSmsObject.isLoading" ion-button text-capitalize full large color="primary" (tap)="sendDataViaSms()">
              <span *ngIf="sendDataViaSmsObject.isLoading" >
                <ion-spinner  name="crescent" color="secondary"></ion-spinner>
                <span margin-top="0px">&nbsp;&nbsp;{{ sendDataViaSmsObject.loadingMessage }}</span>
              </span>
              <span *ngIf="!sendDataViaSmsObject.isLoading" >
                Upload Data &nbsp;&nbsp;&nbsp;<ion-icon name="ios-arrow-forward-outline"></ion-icon>
              </span>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</div>
