page-setting-home {
  .setting-home{
    background-color: #F4F4F4;
  }

  .settingContents{
    background-color: #F4F4F4;
  }

  .item-md.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #dedede;
  }

  .item-ios.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #dedede;
  }
}
