<!--
  Generated template for the SettingHome page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" mode="md">
    <ion-title>Setting Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="setting-home">

  <ion-grid>

    <div class="item-card">
      <ion-row (tap)="hideAndShowContents('synchronizationSetting')">
        <ion-col col-11>
          <span ion-text [color]="(settingObject.synchronizationSetting.isExpanded) ?'current' : 'font-color'">
              Synchronization
            </span>
        </ion-col>
        <ion-col col-1 item >
          <div style="text-align: center;">
            <ion-icon [color]="(settingObject.synchronizationSetting.isExpanded) ?'current' : 'font-color'" *ngIf="!settingObject.synchronizationSetting.isExpanded" name="ios-arrow-down" item-right></ion-icon>
            <ion-icon [color]="(settingObject.synchronizationSetting.isExpanded) ?'current' : 'font-color'" *ngIf="settingObject.synchronizationSetting.isExpanded" name="ios-arrow-up" item-right></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <div class="settingContents" *ngIf="settingObject.synchronizationSetting.isExpanded" >
        <hr>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label floating>Synchronization time</ion-label>
              <ion-input type="number"  min="1" [(ngModel)]="synchronizationSetting.time"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Type</ion-label>
              <ion-select [(ngModel)]="synchronizationSetting.timeType" interface="action-sheet">
                <ion-option value="minutes">Minute(s)</ion-option>
                <ion-option value="hours">Hour(s)</ion-option>
              </ion-select>
            </ion-item>
            <button [disabled]="!settingObject.synchronizationSetting.isSaved" [color]="settingObject.synchronizationSetting.isSaved?'primary':'whitecolor'" class="normalButton" ion-button full large text-capitalize (tap)="saveSetting('synchronizationSetting')">
                  <span *ngIf="!settingObject.synchronizationSetting.isSaved" >
                    <page-loading loadingSize="small"></page-loading>
                  </span>
                  <span *ngIf="settingObject.synchronizationSetting.isSaved" >
                    Save
                  </span>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="item-card">
      <ion-row (tap)="hideAndShowContents('dataEntrySetting')">
        <ion-col col-11>
          <span ion-text [color]="(settingObject.dataEntrySetting.isExpanded) ?'current' : 'font-color'">
              Data Entry Form
            </span>
        </ion-col>
        <ion-col col-1 item >
          <div style="text-align: center;">
            <ion-icon [color]="(settingObject.dataEntrySetting.isExpanded) ?'current' : 'font-color'" *ngIf="!settingObject.dataEntrySetting.isExpanded" name="ios-arrow-down" item-right></ion-icon>
            <ion-icon [color]="(settingObject.dataEntrySetting.isExpanded) ?'current' : 'font-color'" *ngIf="settingObject.dataEntrySetting.isExpanded" name="ios-arrow-up" item-right></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <div class="settingContents" *ngIf="settingObject.dataEntrySetting.isExpanded" >
        <hr>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Form Label</ion-label>
              <ion-select [(ngModel)]="dataEntrySetting.label" interface="action-sheet">
                <ion-option value="displayName">DHIS2 Display Name</ion-option>
                <ion-option value="formName">DHIS2 Form Name</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label floating>Max Data Element per section </ion-label>
              <ion-input type="number"  min="1" [(ngModel)]="dataEntrySetting.maxDataElementOnDefaultForm"></ion-input>
            </ion-item>
            <button [disabled]="!settingObject.dataEntrySetting.isSaved" [color]="settingObject.dataEntrySetting.isSaved?'primary':'whitecolor'" class="normalButton" ion-button full large text-capitalize (tap)="saveSetting('dataEntrySetting')">
                  <span *ngIf="!settingObject.dataEntrySetting.isSaved" >
                    <page-loading loadingSize="small"></page-loading>
                  </span>
                  <span *ngIf="settingObject.dataEntrySetting.isSaved" >
                    Save
                  </span>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>


  </ion-grid>

</ion-content>
