<!--
  Generated template for the TrackedEntityDashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Tracked Entity Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-grid>
    <div *ngIf="isLoading">
      <page-loading [loadingMessage]="loadingMessage" [loadingSize]="'large'" ></page-loading>
    </div>
    <div *ngIf="!isLoading">
      <div *ngFor="let widget of dashboardWidgets">
        <div *ngIf="(isDashboardWidgetOpen[widget.id])" >
          <div class="item-card">
            <ion-row>
              <ion-col>
                <span ion-text text-capitalize><b>{{ widget.name }}</b></span>
              </ion-col>
            </ion-row>
          </div>
          <div class="item-card">
            <ion-row>
              <ion-col>
                <div *ngIf="widget.id == 'enrollment'"  >
                  <div class="inputLabel">
                    Organisation unit
                  </div>
                  <div class="input-field-container">
                    <ion-item>
                      <ion-input [(ngModel)]="currentOrgUnit.name" readonly="true"></ion-input>
                    </ion-item>
                  </div>
                  <div class="inputLabel">
                    Program
                  </div>
                  <div class="input-field-container">
                    <ion-item>
                      <ion-input [(ngModel)]="currentProgram.name" readonly="true"></ion-input>
                    </ion-item>
                  </div>
                </div>
                <div *ngIf="widget.id == 'profile'">
                  <div *ngIf="programTrackedEntityAttributes && programTrackedEntityAttributes.length > 0">
                    <div *ngFor="let programTrackedEntityAttribute of programTrackedEntityAttributes">
                      <tracked-entity-inputs [trackedEntityAttribute]="programTrackedEntityAttribute.trackedEntityAttribute"
                                             [currentUser]="currentUser"
                                             [data]="dataObject"
                                             [mandatory]="programTrackedEntityAttribute.mandatory"
                                             (onChange)="updateData($event)"></tracked-entity-inputs>
                    </div>
                  </div>
                </div>
                <div *ngIf="programStages && programStages.length > 0">
                  <div *ngFor="let programStage of programStages">
                    <div *ngIf="widget.id == programStage.id">
                      <program-stage [programStage]="programStage"></program-stage>
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>&nbsp;&nbsp;</ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div ion-button clear text-capitalize *ngFor="let widget of dashboardWidgets" (tap)="changeDashboardWidget(widget)">
      <div *ngIf="widget.icon">
        <img  class="footer-icon" [src]="widget.icon"/>&nbsp;&nbsp;
      </div>
      <div *ngIf="widget.iconName">
        <b>{{ widget.iconName }}</b>
      </div>
    </div>
  </ion-toolbar>

</ion-footer>
