page-event-capture-form {
  .event-capture-form {
    background-color: #F4F4F4;
  }

  .entryFormContainer{
    box-shadow: 2px 2px 3px  #888888;
    padding: 4px;
  }
  .sectionHeader{
    padding-top : 0px;
    padding-bottom: 0px;
    color: #387ef5;
    text-align: center;
  }

  .required{
    color: #ff252f;
  }
}
