<!--
  Generated template for the EventCaptureForm page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>event Capture Form</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="event-capture-form">
  <div *ngIf="loadingData">
    <ion-list>
      <ion-item *ngFor="let message of loadingMessages; let currentIndex = index">
        {{ message }}
        <ion-icon *ngIf="(currentIndex + 1) < loadingMessages.length" name="done-all" item-right color="primary"></ion-icon>
        <div style="text-align: center" item-right *ngIf="(currentIndex + 1) >= loadingMessages.length">
          <ion-spinner name="crescent" color="secondary"></ion-spinner>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!loadingData">

    <ion-grid>
      <ion-row>
        <ion-col width="100">
          <div class="entryFormContainer">
            <!-- event form fields rendered as sections-->
            <div *ngFor="let section of entryFormSections">
              <div *ngIf="section.id == currentPage">
                <div *ngIf=" section.name != 'defaultSection'">
                  <div class="sectionHeader">
                    <b>{{ section.name }}</b>
                  </div>
                  <hr>
                </div>
              </div>

              <div>
                <div>
                  <b>Report date <span class = "required">*</span></b>
                </div>
                <ion-item>
                  <ion-input type="date" [(ngModel)]="event.eventDate" ></ion-input>
                </ion-item>
              </div>

              <div *ngIf="event.eventDate !='' ">
                <div *ngFor="let programStageDataElement of section.programStageDataElements">
                  <br>
                  <div (click)="showTooltips(programStageDataElement.dataElement,'')" class="inputLabel">
                    <b>{{ getDisplayName(programStageDataElement.dataElement) }}</b>
                    <span *ngIf="programStageDataElement.compulsory == 'true'" class = "required">*</span>
                        <span *ngIf="programStageDataElement.dataElement.description">
                          &nbsp;&nbsp;<ion-icon name="help-circle"></ion-icon>
                        </span>
                  </div>
                  <div *ngIf="programStageDataElement.dataElement.optionSet">
                    <ion-item>
                      <ion-label>Touch to select/update</ion-label>
                      <ion-select [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" interface="action-sheet" >
                        <ion-option *ngFor="let option of programStageDataElement.dataElement.optionSet.options" value="{{option.code}}">{{option.name}}</ion-option>
                      </ion-select>
                    </ion-item>
                  </div>

                  <div *ngIf="!programStageDataElement.dataElement.optionSet">

                    <div *ngIf="programStageDataElement.dataElement.valueType == 'DATE'">
                      <ion-item>
                        <ion-input type="date"  [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" ></ion-input>
                      </ion-item>
                    </div>

                    <div *ngIf="programStageDataElement.dataElement.valueType == 'LONG_TEXT'">
                      <ion-item>
                        <ion-textarea [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" placeholder="Add your comment here"></ion-textarea>
                      </ion-item>
                    </div>

                    <div *ngIf="programStageDataElement.dataElement.valueType == 'TRUE_ONLY'">
                      <ion-item>
                        <ion-label>Touch to select/update</ion-label>
                        <ion-select [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" interface="action-sheet" >
                          <ion-option value="true">Yes</ion-option>
                        </ion-select>
                      </ion-item>
                    </div>
                    <div *ngIf="programStageDataElement.dataElement.valueType == 'BOOLEAN'">
                      <ion-item>
                        <ion-label>Touch to select/update</ion-label>
                        <ion-select [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" interface="action-sheet" >
                          <ion-option value="true">Yes</ion-option>
                          <ion-option value="false">No</ion-option>
                        </ion-select>
                      </ion-item>
                    </div>
                    <div *ngIf="programStageDataElement.dataElement.valueType == 'INTEGER' ||programStageDataElement.dataElement.valueType == 'NUMBER'">
                      <ion-item>
                        <ion-input type="number"  [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" ></ion-input>
                      </ion-item>
                    </div>
                    <div *ngIf="programStageDataElement.dataElement.valueType == 'INTEGER_POSITIVE'">
                      <ion-item>
                        <ion-input type="number"  [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" min="1" ></ion-input>
                      </ion-item>
                    </div>
                    <div *ngIf="programStageDataElement.dataElement.valueType == 'INTEGER_NEGATIVE'">
                      <ion-item>
                        <ion-input type="number"  [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" max="-1" ></ion-input>
                      </ion-item>
                    </div>
                    <div *ngIf="programStageDataElement.dataElement.valueType == 'INTEGER_ZERO_OR_POSITIVE'">
                      <ion-item>
                        <ion-input type="number"  [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" min="0" ></ion-input>
                      </ion-item>
                    </div>
                    <div *ngIf="programStageDataElement.dataElement.valueType == 'UNIT_INTERVAL'">
                      <ion-item>
                        <ion-input type="text"  [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" ></ion-input>
                      </ion-item>
                    </div>
                    <div *ngIf="programStageDataElement.dataElement.valueType == 'PERCENTAGE'">
                      <ion-item>
                        <ion-input type="text"  [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" ></ion-input>
                      </ion-item>
                    </div>
                    <div *ngIf="programStageDataElement.dataElement.valueType == 'TEXT'">
                      <ion-item>
                        <ion-input type="text"  [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" ></ion-input>
                      </ion-item>
                    </div>
                    <div *ngIf="programStageDataElement.dataElement.valueType == 'COORDINATE'">
                      <ion-item>
                        <ion-input type="text"  [(ngModel)]="dataValues[programStageDataElement.dataElement.id]" ></ion-input>
                      </ion-item>
                    </div>
                  </div>
                </div>
              </div>

              <!-- cancel event register -->
              <div *ngIf="event">
                <div *ngIf="event.eventDate =='' ">
                  <br>
                  <button color="light" ion-button full (click)="cancel()">Cancel</button>
                </div>
              </div>

            </div>
          </div>
          <!-- comment  as well as event status -->
          <br>
          <div *ngIf="event">
            <div *ngIf="event.eventDate !='' ">
              <div class="entryFormContainer">
                <div>
                  <b>Is Event Completed ?</b>
                </div>
                <ion-item>
                  <ion-label>Touch to select/update</ion-label>
                  <ion-select [(ngModel)]="event.status" interface="action-sheet" >
                    <ion-option value="COMPLETED">Yes</ion-option>
                    <ion-option value="ACTIVE">No</ion-option>
                  </ion-select>
                </ion-item>

                <div>
                  <b>Comments</b>
                </div>
                <ion-item>
                  <ion-textarea [(ngModel)]="eventComment" placeholder="Add your comment here"></ion-textarea>
                </ion-item>
              </div>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="event">
      <div *ngIf="event.eventDate !='' ">
        <ion-card *ngIf="(entryFormSections.length > 1)">
          <ion-card-content>
            <ion-row>
              <ion-col width-33>
                <button color="primary" ion-button full (click)="changePagination(currentPage - 1)">
                  Previous
                </button>
              </ion-col>
              <ion-col width-33>
                <button ion-button color="primary" full clear>
                  {{ paginationLabel }}
                </button>
              </ion-col>
              <ion-col width-33>
                <button color="primary" ion-button full (click)="changePagination(currentPage + 1)">
                  Next
                </button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <button color="primary" ion-button full (click)="saveEvent()">
                  Save
                </button>
              </ion-col>
              <ion-col >
                <button color="light" ion-button full (click)="cancel()">
                  cancel
                </button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <hr>

      </div>
    </div>

  </div>
</ion-content>
