<!--
*
* Copyright 2019 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2019
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-header>
    <ion-toolbar [color]="(colorSettings$ |async).colorAttributes.main" mode="md">
        <div *ngIf="position && position.lat && position.lng" class="my-location-deatils animated fadeIn">
            <div>Lat : {{position.lat }}&nbsp;,&nbsp;Long : {{position.lng}}</div>
            <div *ngIf="isLocationBasedOnPhone "><span [translate]="'Accuracy'"></span> : {{ accuracy }}</div>
        </div>
        <ion-buttons slot="end" (click)="closeModal()">
            <ion-button>
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-coordinate [position]="position" [positionBasedOnPhone]="positionBasedOnPhone" [accuracy]="accuracy" [altitude]="altitude" [isLoadingMyLocation]="isLoadingMyLocation" [isLocationBasedOnPhone]="isLocationBasedOnPhone" (coordonateChange)="onChangeCoordinate($event)"></app-coordinate>
</ion-content>
<ion-footer class="ion-no-margin">
    <ion-toolbar class="ion-no-margin">
        <ion-buttons slot="start">
            <ion-button class="ion-no-margin" (click)="closeModal()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="ion-no-margin" (click)="getMyCurrentLocation()">
                <ion-icon slot="icon-only" name="locate"></ion-icon>
            </ion-button>
            <ion-button class="ion-no-margin" (click)="saveCoordinate()">
                <ion-icon slot="icon-only" name="save"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>