<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<div *ngIf="isMetadataLoaded">
  <program-parameter-selection (programParameterSelection)="onProgramParameterSelection($event)"
    [currentUser]="currentUser" [programIdsByUserRoles]="programIdsByUserRoles"
    [selectedDataDimension]="selectedDataDimension" [programType]="programType"></program-parameter-selection>
  <button [color]="colorSettings.colorAttributes.secondary" [disabled]="!isFormReady || showLoader" ion-button full
    text-capitalize (tap)="downloadingTrackerData()">
    <span [translate]="'Download data'"></span>
  </button>
  <div *ngIf="showLoader">
    <div class="item-card">
      <progress-bar [showLoader]="showLoader" [progressPercentage]="progressTrackerPacentage"
        [processMessage]="progressTrackerMessage"></progress-bar>
    </div>
  </div>
  <div *ngIf="!showLoader && downloadStatus !==''">
    <div class="item-card download-data-status" padding-top padding-bottom>
      {{ downloadStatus}}
    </div>
  </div>
</div>
