<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-row>
  <ion-col col-5>
    <ion-item>
      <ion-input type="number" (ionBlur)="updateAutoSyncSetting()" min="1" [(ngModel)]="settingObject.synchronization.time"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col col-7>
    <ion-item>
      <ion-select (ionChange)="updateAutoSyncSetting()" [(ngModel)]="settingObject.synchronization.timeType" interface="action-sheet">
        <ion-option value="minutes">
          <span [translate]="'Minutes'"></span>
        </ion-option>
        <ion-option value="hours">
          <span [translate]="'Hours'"></span>
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item no-lines>
      <ion-label text-wrap>
        <span [translate]="'Auto synchronization'"></span>
      </ion-label>
      <ion-toggle (ionChange)="updateAutoSyncSetting()" [color]="colorSettings.colorAttributes.secondary" [(ngModel)]="settingObject.synchronization.isAutoSync"></ion-toggle>
    </ion-item>
  </ion-col>
</ion-row>
