<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<div class="item-card">
  <ion-row *ngIf="entryFormSectionsCount > 1 && entryFormType && entryFormType != 'CUSTOM'">
    <ion-col>
      <div class="flex-container">
        <div class="flex-item paginations">
          <span (click)="changePagination(pager.page - 1)" padding>
            <ion-icon name="ios-arrow-back-outline"></ion-icon>
          </span>
          <span (tap)="openSectionList()">
            {{ pager.page + ' / ' + pager.total }}
          </span>
          <span (click)="changePagination(pager.page  + 1)" padding>
            <ion-icon name="ios-arrow-forward-outline"></ion-icon>
          </span>
        </div>
        <div class="flex-item">
          <div *ngIf="!isDataSetCompleted">
            <button color="favorite" ion-button class="pagination-button" padding
              [disabled]="isDataSetCompletenessProcessRunning || isPeriodLocked || isValidationProcessRunning"
              (tap)="updateDataSetCompleteness()">
              <span
                [translate]="isDataSetCompletenessProcessRunning && !isDataSetCompleted? 'Completing' : 'Complete'"></span>
            </button>
          </div>
          <div *ngIf="isDataSetCompleted">
            <button color="danger" ion-button class="pagination-button" padding
              [disabled]="isDataSetCompletenessProcessRunning || isPeriodLocked || isValidationProcessRunning"
              (tap)="updateDataSetCompleteness()">
              <span
                [translate]="isDataSetCompletenessProcessRunning && isDataSetCompleted? 'Undo completing' : 'Undo complete'"></span>
            </button>
          </div>
        </div>
        <div class="flex-item">
          <button color="light" ion-button class="pagination-button" padding
            [disabled]="isDataSetCompletenessProcessRunning || isPeriodLocked || isValidationProcessRunning"
            (tap)="onValidatingDateEntry()">
            <span [translate]="isValidationProcessRunning ? 'Validating' : 'Validate'"></span>
          </button>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="entryFormSectionsCount == 1">
    <ion-col>
      <div class="flex-container-start">
        <div class="flex-item flex-item-start">
          <button color="favorite" ion-button class="pagination-button"
            [disabled]="isDataSetCompleted || isDataSetCompletenessProcessRunning || isPeriodLocked || isValidationProcessRunning"
            (tap)="updateDataSetCompleteness()">
            <span
              [translate]="isDataSetCompletenessProcessRunning && !isDataSetCompleted? 'Completing' : 'Complete'"></span>
          </button>
        </div>
        <div class="flex-item flex-item-start">
          <button color="danger" ion-button class="pagination-button"
            [disabled]="!isDataSetCompleted || isDataSetCompletenessProcessRunning || isPeriodLocked || isValidationProcessRunning"
            (tap)="updateDataSetCompleteness()">
            <span
              [translate]="isDataSetCompletenessProcessRunning && isDataSetCompleted? 'Undo completing' : 'Undo complete'"></span>
          </button>
        </div>
        <div class="flex-item flex-item-start">
          <button color="light" ion-button class="pagination-button"
            [disabled]="isDataSetCompletenessProcessRunning || isPeriodLocked || isValidationProcessRunning"
            (tap)="onValidatingDateEntry()">
            <span [translate]="isValidationProcessRunning ? 'Validating' : 'Validate'"></span>
          </button>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <div *ngIf="
          !isDataSetCompletenessProcessRunning">
    <div *ngIf="dataSetsCompletenessInfo && dataSetsCompletenessInfo.complete">
      <div class="item-card animated fadeIn" padding-bottom padding-top
        (click)="viewUserCompletenessInformation(dataSetsCompletenessInfo)">
        <span [translate]="'Completed by'"></span>
        <b>{{ dataSetsCompletenessInfo.storedBy }}</b> {{'on'|translate }}
        <b>{{ dataSetsCompletenessInfo.date }}</b>
      </div>
    </div>
  </div>
</div>
