data-entry-pagination {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .paginations {
    margin-top: 5px;
  }

  .pagination-button {
    padding: 5px;
  }

  .flex-item {
    text-align: center;
  }

  .flex-item-start {
    padding: 3px;
  }

  .flex-container-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

  }
}
