<div *ngIf="formLayout === 'customLayout' && trackerRegistrationForm && trackerRegistrationForm !== '' ">
  <custom-data-entry-form [entryFormType]="entryFormType" [dataEntryFormDesign]="trackerRegistrationForm" [data]="dataObject"
    [programTrackedEntityAttributes]="programTrackedEntityAttributes" (onCustomFormInputChange)="updateData($event)"></custom-data-entry-form>
</div>
<div *ngIf="!(formLayout === 'customLayout' && trackerRegistrationForm && trackerRegistrationForm !== '' )">
  <div *ngIf="programTrackedEntityAttributes && programTrackedEntityAttributes.length > 0">
    <form>
      <div *ngFor="let programTrackedEntityAttribute of programTrackedEntityAttributes;trackBy: trackByFn">
        <tracked-entity-inputs [trackedEntityAttribute]="programTrackedEntityAttribute.trackedEntityAttribute" [currentUser]="currentUser"
          [data]="dataObject" [(trackedEntityAttributesSavingStatusClass)]="trackedEntityAttributesSavingStatusClass" [mandatory]="programTrackedEntityAttribute.mandatory"
          (onChange)="updateData($event)"></tracked-entity-inputs>
      </div>
    </form>
  </div>
</div>
