<!--
*
* Copyright 2019 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2019
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<div *ngIf="loginFormFields && !isLoading">
    <form>
        <div *ngFor="let field of loginFormFields;trackBy: trackByFn">
            <div class="input-field-container">
                <div *ngIf="field.type === 'TEXT'">
                    <app-text-input [dataElementId]="field.id" [readonly]="field.readonly" [data]="data"
                        [categoryOptionComboId]="'login'" (change)="updateValue($event)"
                        [placeholder]="field.placehoder" [valueType]="field.type"
                        [barcodeSettings]="field.barcodeSettings" [updateOnChangeValue]='updateOnChangeValue'>
                    </app-text-input>
                </div>
                <div *ngIf="field.type === 'PASSWORD'">
                    <app-password-input [dataElementId]="field.id" [data]="data" [categoryOptionComboId]="'login'"
                        (change)="updateValue($event)" [updateOnChangeValue]='updateOnChangeValue'
                        [placeholder]="field.placehoder" [barcodeSettings]="field.barcodeSettings">
                    </app-password-input>
                </div>
            </div>
        </div>
        <div>
            <ion-button [color]="buttonColor" (click)="onStartLoginProcess()" [disabled]="!isLoginFormValid"
                size="large" expand="full">
                <span [translate]="'Login'"></span>
            </ion-button>
        </div>
    </form>
</div>