.item-card-input {
    border: 1px solid #e6e6e7;
    border-radius: 0.1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.item-card-without-horizontal-padding {
    border: 1px solid #e6e6e7;
    border-radius: 0.1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.clear-button {
    padding-top: 5px;
}