<ion-row>
  <ion-col col-5>
    <div class="item-card full-width" padding color="font-color" text-justify (click)="openMap()">
      {{ position.lat }}
    </div>
  </ion-col>
  <ion-col col-5>
    <div class="item-card full-width" padding color="font-color" text-justify (click)="openMap()">
      {{ position.lng}}
    </div>
  </ion-col>
  <ion-col col-auto>
    <div class="item-card" color="font-color" ion-button clear text-justify (click)="openMap()">
      <ion-icon name="locate" color="primary"></ion-icon>
      <br>
    </div>
  </ion-col>
</ion-row>