<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-row>
  <ion-col>
    <div class="full-width" padding color="font-color" text-justify (click)="openMap()">
      {{ position.lat }}
    </div>
  </ion-col>
  <ion-col>
    <div class="full-width" padding color="font-color" text-justify (click)="openMap()">
      {{ position.lng}}
    </div>
  </ion-col>
  <ion-col col-auto>
    <div float-right>
      <button color="danger" outline ion-button [disabled]="(position.lat == '' && position.lng == '')" (tap)="clearValue()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </button>
      <div class="item-card" color="font-color" ion-button clear text-justify (click)="openMap()">
        <ion-icon name="locate" color="primary"></ion-icon>
        <br>
      </div>
    </div>
  </ion-col>
</ion-row>
