<div class="interpretation-comment interpretation-comment-item" *ngIf="!showCommentInput" (mouseenter)="toggleCommentOptions($event, true)"
  (mouseleave)="toggleCommentOptions($event)">
  <div class="interpretation-user-block">
    <div class="interpretation-user">
      {{comment?.user.displayName | abbreviate}}
    </div>
  </div>
  <div class="interpretation-comment-body">
    <div>
      <b>{{ comment?.user.displayName }}</b>
    </div>
    <div class="interpretation-comment-text" *ngIf="!comment?.showEditForm && !comment?.showDeleteDialog">
      {{ comment?.text}}
    </div>
    <div *ngIf="comment?.showDeleteDialog">
      <app-delete-comment [rootUrl]="rootUrl" [interpretationId]="interpretation.id" [comment]="comment" (onCommentDelete)="commentDeleted($event)"
        (onCommentDeleteCancel)="toggleDeleteConfirmationDialog()" (onCommentDeleteFail)="toggleDeleteConfirmationDialog()"></app-delete-comment>
    </div>
    <div *ngIf="comment.showEditForm">
      <app-edit-comment [rootUrl]="rootUrl" [comment]="comment" [interpretation]="interpretation" (onCommentEditCancel)="toggleCommentEditForm()"
        (onCommentEditFail)="toggleCommentEditForm()" (onCommentEdit)="commentUpdated($event)"></app-edit-comment>
    </div>
  </div>
  <div class="interpretation-more-comment-options" *ngIf="!comment?.showDeleteDialog">
    <div class="interpretation-last-updated" *ngIf="comment?.showDate && !comment?.showDropdownOptions">
      {{ comment?.lastUpdated | date}}
    </div>
    <a class="interpretation-more-btn" title="show more options" *ngIf="comment?.showMoreButton" (click)="toggleCommentDropdown($event)">
      <img src="assets/icon/more.png" alt="" style="height: 20px;">
      <ul class="comment-more-options-dropdown" *ngIf="comment?.showDropdownOptions">
        <li>
          <a (click)="toggleCommentEditForm($event)">{{ translationMapper['Edit'] }}</a>
        </li>
        <li>
          <a class="text-danger" (click)="toggleDeleteConfirmationDialog($event)" *ngIf="comment?.showDeleteButton">{{ translationMapper['Delete'] }}</a>
        </li>
      </ul>
    </a>
  </div>
</div>

<div class="interpretation-comment interpretation-comment-input-container" *ngIf="showCommentInput">
  <div class="interpretation-user-block">
    <div class="interpretation-user">
      {{ currentUser.name | abbreviate }}
    </div>
  </div>
  <div>
    <app-add-comment [interpretation]="interpretation" [rootUrl]="rootUrl" (onCommentCreate)="commentCreated($event)"></app-add-comment>
  </div>
</div>