page-help {

  .help{
    //background-color: #F4F4F4;
  }
  .list-separator{
    height: 1.7rem;
  }

  .help-card{
    border: 1px solid #E6E6E7;
    border-radius: 0.1rem;
    padding: 5px 10px 5px;
    margin-top:5px;
    margin-bottom:5px;
  }

  .item-md.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #dedede;
  }

  .item-ios.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #dedede;
  }

  .refreshPanel{
    padding-top: 10px;
  }

}
