page-dash-board-home {
  .dashboardHome {
    background-color: #E4E4E4;
  }

  .item-md.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #dedede;
  }

  .item-ios.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #dedede;
  }

  .list-separator{
    height:1px;
    border-bottom: 1px solid #dedede;
    margin-top:3px;
    margin-bottom:3px;
  }

  .dashboard-separator{
    height:3px;
    border-bottom: 1px solid #dedede;
  }

  .button-md, .button-ios {
    margin: 0px !important;
  }

  .searchbar-md, .searchbar-ios {
    padding: 5px !important;
  }

  ion-col {
    padding-top: 0px!important;
    padding-right: 5px!important;
    padding-left: 5px !important;
    padding-button: 0px !important;
  }

  .visualizationHeader {
    background: #FFFFFF;
  }
  ion-label {
    white-space: normal;
  }

  .refreshPanel{
    padding-top: 10px;
  }

}
