page-dash-board-home {
  .dashboardHome{
    background-color: #E4E4E4;
  }

  ion-select {
    max-width: 100%;
  }
  .select-md .select-icon {
    position: inherit;
  }
  .select-ios .select-icon {
    position: inherit;
  }

  .visualizationHeader {
    background: #FFFFFF;
  }
  ion-label {
    white-space: normal;
  }
  ion-col {
    padding-top:0px;
    padding-left:5px;
    padding-left:5px;
    padding-button:5px;
  }

  .dashHeaderSeparator{
    height: 10px;
    background-color: #E4E4E4;
  }

  .visualizerHeaderSeparator{
    height: 3px;
    background-color: #E4E4E4;
  }

}
