<div class="visualization-card-loader-container">
  <div class="loader-block">
    <div
      class="chart-loader"
      *ngIf="visualizationType === 'CHART'"
    >
      <div style="margin-top: 30%;">
        <app-progress-loader></app-progress-loader>
      </div>
      <div style="margin-top: 20%;">
        <app-progress-loader></app-progress-loader>
      </div>
      <div style="height: 100%;">
        <app-progress-loader></app-progress-loader>
      </div>
      <div style="margin-top: 10%;">
        <app-progress-loader></app-progress-loader>
      </div>
      <div style="margin-top: 25%;">
        <app-progress-loader></app-progress-loader>
      </div>
      <div style="margin-top: 20%;">
        <app-progress-loader></app-progress-loader>
      </div>
    </div>
    <div
      class="table-loader"
      *ngIf="visualizationType === 'TABLE'"
    >
      <div *ngFor="let tableCell of tableCellCounts">
        <app-progress-loader></app-progress-loader>
      </div>
    </div>
  </div>
  <div
    class="map-loader"
    *ngIf="visualizationType === 'MAP'"
  >
    <div class="map-image">
      <app-progress-loader></app-progress-loader>
    </div>
  </div>
</div>
