<!-- Generated template for the ClearLocalMetadataComponent component -->

<ion-grid class="whiteBackground">

  <ion-row >
    <ion-col>
      <button ion-button block style="text-transform: none;"
              (tap)="autoSelect('selectAll')" > select all</button>
    </ion-col>
    <ion-col>
      <button ion-button block style="text-transform: none;"
              (tap)="autoSelect('unSelectAll')" >Deselect </button>
    </ion-col>
  </ion-row>
  <!--{{ resources |json }}-->

  <ion-row >
    <ion-col >
      <ion-list >
        <div *ngFor="let resourceObject of resources" style="background-color: white" >

          <ion-item>

            <ion-checkbox color="blue" [(ngModel)]="resourceObject.status"></ion-checkbox>
            <ion-label> {{ resourceObject.displayName }} </ion-label>

          </ion-item>
        </div>
      </ion-list>
    </ion-col>
  </ion-row>

  <button ion-button style="text-transform: none;" (tap)="verifyingDeleteOfResources()">Clear MetaData</button>

</ion-grid>

