<ion-item no-lines>
  <ion-label text-wrap>
    <span [translate]="'Show barcode reader on numerical fields'"></span>
  </ion-label>
  <ion-toggle (ionChange)="applySettings()" color="primary" [(ngModel)]="settingObject.barcode.allowBarcodeReaderOnNumerical"></ion-toggle>
</ion-item>
<ion-item no-lines>
  <ion-label text-wrap>
    <span [translate]="'Show barcode reader on text fields'"></span>
  </ion-label>
  <ion-toggle (ionChange)="applySettings()" color="primary" [(ngModel)]="settingObject.barcode.allowBarcodeReaderOnText"></ion-toggle>
</ion-item>
