<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-item>
  <ion-label text-wrap>
    <span [translate]="'Activate multiline barcode scan behaviour'"></span>
  </ion-label>
  <ion-toggle (ionChange)="applySettings()" [color]="colorSettings.colorAttributes.secondary" [(ngModel)]="settingObject.barcode.activateMultiline"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label floating text-wrap>
    <span [translate]="'Key value pair separator'"></span>
  </ion-label>
  <ion-input (ionBlur)="applySettings()" type="text" [(ngModel)]="settingObject.barcode.keyPairSeparator"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating text-wrap>
    <span [translate]="'Multiline separator'"></span>
  </ion-label>
  <ion-input (ionBlur)="applySettings()" type="text" [(ngModel)]="settingObject.barcode.multilineSeparator"></ion-input>
</ion-item>
<ion-item>
  <ion-label text-wrap>
    <span [translate]="'Show barcode reader on numerical fields'"></span>
  </ion-label>
  <ion-toggle (ionChange)="applySettings()" [color]="colorSettings.colorAttributes.secondary" [(ngModel)]="settingObject.barcode.allowBarcodeReaderOnNumerical"></ion-toggle>
</ion-item>
<ion-item no-lines>
  <ion-label text-wrap>
    <span [translate]="'Show barcode reader on text fields'"></span>
  </ion-label>
  <ion-toggle (ionChange)="applySettings()" [color]="colorSettings.colorAttributes.secondary" [(ngModel)]="settingObject.barcode.allowBarcodeReaderOnText"></ion-toggle>
</ion-item>
