<div *ngIf="isLoading">
  <loading loadingSize="large" [loadingMessage]="loadingMessage"></loading>
  <div text-center padding-top> {{ progress }} %</div>
</div>
<div *ngIf="!isLoading">
  <ion-row>
    <ion-col *ngIf="!showLoadingMessage">
      <ion-item>
        <ion-label>
          {{ translationMapper['Aggregate data'] }}&nbsp;
          <ion-badge color="badge-color">{{ dataObject.dataValues.length }}</ion-badge>
        </ion-label>
        <ion-checkbox [(ngModel)]="selectedItems.dataValues" disabled="{{(dataObject.dataValues.length == 0)?'true':'false'}}" (ionChange)="updateItemsToUpload()"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ translationMapper['Events'] }}&nbsp;
          <ion-badge color="badge-color">{{ dataObject.events.length }}</ion-badge>
        </ion-label>
        <ion-checkbox [(ngModel)]="selectedItems.events" disabled="{{(dataObject.events.length == 0)?'true':'false'}}" (ionChange)="updateItemsToUpload()"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ translationMapper['Events for tracker'] }}&nbsp;
          <ion-badge color="badge-color">{{ dataObject.eventsForTracker.length }}</ion-badge>
        </ion-label>
        <ion-checkbox [(ngModel)]="selectedItems.eventsForTracker" disabled="{{(dataObject.eventsForTracker.length == 0)?'true':'false'}}"
          (ionChange)="updateItemsToUpload()"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ translationMapper['Enrollments'] }}&nbsp;
          <ion-badge color="badge-color">{{ dataObject.Enrollments.length }}</ion-badge>
        </ion-label>
        <ion-checkbox [(ngModel)]="selectedItems.Enrollments" disabled="{{(dataObject.Enrollments.length == 0)?'true':'false'}}"
          (ionChange)="updateItemsToUpload()"></ion-checkbox>
      </ion-item>
      <button [disabled]="itemsToUpload.length == 0" ion-button full text-capitalize (tap)="uploadData()">
        {{ translationMapper['Upload data'] }}
      </button>
    </ion-col>
  </ion-row>
</div>
