.app-slogan-container {
    text-align: center;
}

.top-slogan-title {
    font-style: italic;
}

.bottom-slogan-title {
    font-style: italic;
    text-transform: lowercase;
    font-size: 0.8rem;
}