<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-grid>

    <div *ngIf="!isSettingLoaded">
      <page-loading [loadingMessage]="settingLoadingMessage" [loadingSize]="'large'"></page-loading>
    </div>

    <div *ngIf="isSettingLoaded">

      <div class="item-card" *ngFor="let settingContent of settingContents">
        <ion-row (tap)="toggleSettingContents(settingContent)">
          <ion-col col-11>
            <img  class="side-menu-icon" [src]="settingContent.icon"/>&nbsp;&nbsp;
            <span ion-text [color]="(isSettingContentOpen[settingContent.id]) ?'current' : 'font-color'">
              {{ settingContent.name }}
            </span>
          </ion-col>
          <ion-col col-1 item >
            <div style="text-align: center;">
              <ion-icon [color]="(isSettingContentOpen[settingContent.id]) ?'current' : 'font-color'" *ngIf="!(isSettingContentOpen[settingContent.id])" name="ios-arrow-down" item-right></ion-icon>
              <ion-icon [color]="(isSettingContentOpen[settingContent.id]) ?'current' : 'font-color'" *ngIf="(isSettingContentOpen[settingContent.id])" name="ios-arrow-up" item-right></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <div class="updateManagerContents" *ngIf="(isSettingContentOpen[settingContent.id])" >
          <hr>

          <div *ngIf="settingContent.id == 'synchronization'">
            <div *ngIf="settingObject.synchronization">
              <div *ngIf="settingContent.isLoading">
                <page-loading [loadingMessage]="'Applying changes'" [loadingSize]="'large'"></page-loading>
              </div>
              <div *ngIf="!settingContent.isLoading">
                <ion-row>
                  <ion-col col-5>
                    <ion-item>
                      <ion-input type="number" (ionBlur)="applySettings(settingContent)"  min="1" [(ngModel)]="settingObject.synchronization.time"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-7>
                    <ion-item>
                      <ion-select (ionChange)="applySettings(settingContent)" [(ngModel)]="settingObject.synchronization.timeType" interface="action-sheet">
                        <ion-option value="minutes">Minute(s)</ion-option>
                        <ion-option value="hours">Hour(s)</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item no-lines>
                      <ion-label> Auto sync</ion-label>
                      <ion-toggle (ionChange)="applySettings(settingContent)" color="primary" [(ngModel)] = "settingObject.synchronization.isAutoSync"></ion-toggle>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </div>

          <div *ngIf="settingContent.id == 'entryForm'">
            <div *ngIf="settingContent.isLoading">
              <page-loading [loadingMessage]="'Applying changes'" [loadingSize]="'large'"></page-loading>
            </div>
            <div *ngIf="!settingContent.isLoading">
              <div *ngIf="settingObject.entryForm">
                <ion-row >
                  <ion-col>
                    <ion-item>
                      <ion-label>Form Label</ion-label>
                      <ion-select (ionChange)="applySettings(settingContent)" [(ngModel)]="settingObject.entryForm.label" interface="action-sheet">
                        <ion-option value="displayName">Display Name</ion-option>
                        <ion-option value="formName">Form Name</ion-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-label>Form Layout</ion-label>
                      <ion-select (ionChange)="applySettings(settingContent)" [(ngModel)]="settingObject.entryForm.formLayout" interface="action-sheet">
                        <ion-option value="listLayout">List layout</ion-option>
                        <ion-option value="tableLayout">Table layout</ion-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-label floating>Data elements per page(max)</ion-label>
                      <ion-input (ionBlur)="applySettings(settingContent)" type="number"  min="1" [(ngModel)]="settingObject.entryForm.maxDataElementOnDefaultForm"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </ion-grid>

</ion-content>
