<span>
  <span *ngIf="isLoading">
    <loading loadingSize="small"></loading> Discovering events from online server ...
  </span>
  <span *ngIf="!isLoading && trackedEntityInstanceWithConflicts.length > 0">
    <span padding-top>
      {{trackedEntityInstanceWithConflicts.length }}&nbsp;<span [translate]="' data with conflicts'"></span>&nbsp;
    </span>
    <span class="item-card" color="font-color" ion-button clear text-center text-capitalize (tap)="conflictHandlingAction('accept')">
      <img class="side-menu-icon" [src]="icons.accept" />
    </span>
    <span class="item-card" color="font-color" ion-button clear text-center text-capitalize (tap)="conflictHandlingAction('decline')">
      <img class="side-menu-icon" [src]="icons.decline" />
    </span>
  </span>
</span>
