<div>
  <textarea cols="30" rows="1" Autosize autofocus required minlength="2" [(ngModel)]="interpretation.message" name="message"
    #message="ngModel" placeholder="{{ translationMapper['Write new interpretation'] }}" class="interpretation-write-input"></textarea>
  <div class="add-interpretation-btns-d" [hidden]="message.invalid || interpretation.message === ''">
    <button class="dashboard-border dashboard-btn " (click)="cancel($event)">{{ translationMapper['Cancel'] }}</button>
    <button class="dashboard-border dashboard-btn " [disabled]="creating" (click)="postInterpretation($event)">
      {{creating ? translationMapper['Posting'] : translationMapper['Post']}}
    </button>
  </div>
</div>