<div>
  <textarea cols="30" rows="1" Autosize autofocus required minlength="10" [(ngModel)]="interpretation.message" name="message"
    #message="ngModel" placeholder="Write new interpretation" class="interpretation-write-input"></textarea>
  <div class="add-interpretation-btns-d" [hidden]="message.invalid || interpretation.message === ''">
    <button class="dashboard-border dashboard-btn " (click)="cancel($event)">CANCEL</button>
    <button class="dashboard-border dashboard-btn " [disabled]="creating" (click)="postInterpretation($event)">
      {{creating ? 'POSTING' : 'POST'}}
    </button>
  </div>
</div>