page-data-entry-form {
  .entry-form-container{
    overflow:auto;
    max-height: 350px;
    min-height: 300px;
  }

  .item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid #E6E6E7;
  }

  .item-ios.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid #E6E6E7;
  }
}
