page-data-entry-form {
  .dataEntryForm{
    background-color: #E4E4E4;
  }

  .sectionHeader{
    padding-top : 0px;
    padding-bottom: 0px;
    color: #387ef5;
    text-align: center;
  }
  .inputLabel{
    padding-bottom: 4px;
    padding-top: 2px;
    margin-bottom: 4px;
    font-size: 1.5rem
  }
}
