page-data-entry-form {
  .dataEntryForm{
    background-color: #F4F4F4;
  }

  .sectionHeader{
    padding-top : 0px;
    padding-bottom: 0px;
    color: #387ef5;
    text-align: center;
  }

  .item-md,.item-ios,.item .item-block .item-md .item-input,.item-inner,.input-wrapper .item-inner{
    background-color: #F4F4F4;
  }
  .item-md,.item-ios{
    border: 1px solid #E6E6E7;
    border-radius: 0.5rem;
  }

  .item-md.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #dedede;
  }

  .item-ios.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #dedede;
  }

  .fab[mini] {
    margin: 4px 5px 4px 0px!important
  }
  .fab-md-whitecolor ,.fab-ios-whitecolor {
    color: #7A7A7A;
  }

  .button-round-ios, .button-round-md{
    border-radius: 1rem;
    border: 1px solid #E6E6E7 !important;
  }

  .button-small-ios,.button-small-md {
    padding: 0 0.9em;
    margin-top:0.5em;
    height: 2.8em;
  }

  .button-md, .button-ios{
    text-transform: none;
  }

  .fab {
    display: inline-block !important;
    border: 1px solid #E6E6E7 !important;
  }

  .fab-md,.button-md {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
  }

  .pagination-button{
    width: 100%;
    height: 40px;
  }

  .text-input .text-input-ios .ng-pristine .ng-valid .ng-touched{
    border:0;
  }

}
