<!--
  Generated template for the DataEntryFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Entry form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="entryFormParameter" class="item-card" full padding-bottom padding-top>
          <div (tap)="goBack()" padding-bottom >
            <b>Organisation Unit</b> : {{ entryFormParameter.orgUnit.name }}<br>
            <b>Form</b> : {{ entryFormParameter.dataSet.name }}<br>
            <b>Period</b> : {{ entryFormParameter.period.name }}<br>
            <span *ngIf="!isLoading" ><b>Synced</b> : {{ storageStatus.online }} <b>Not synced</b> : {{storageStatus.offline }}</span>
          </div>
          <div *ngIf="!isLoading && indicators && indicators.length > 0"  >
            <div (click)="viewEntryFormIndicators(indicators)" class="item-card" color="font-color" >
              <ion-item >
                Available Indicators
                <ion-badge color="icon-color" item-end>{{ indicators.length }}</ion-badge>
              </ion-item>
            </div>
          </div>
        </div>
        <div *ngIf="isLoading">
          <page-loading [loadingMessage]="loadingMessage" [loadingSize]="'large'" ></page-loading>
        </div>
        <div *ngIf="!isLoading">
          <div *ngIf="entryFormSections && entryFormSections.length == 0">
            <empty-list-notification [emptyListMessage]="'The is no field associated with ' + entryFormParameter.dataSet.name +', Please contact our system administrator' "></empty-list-notification>
          </div>
          <div *ngFor="let section of entryFormSections;let currentSectionIndex = index">
            <div *ngIf="(currentSectionIndex + 1) == pager.page" class="item-card" no-padding (click)="openSectionList()">
              <ion-item >
                <p ion-text color="font-color" no-padding align="center">
                  {{ section.name }}
                </p>
                <div style="text-align: center"item-right >
                  <span  float-end class="side-menu-icon">
                    <img [src]="icons.menu">
                  </span>
                </div>
              </ion-item>
            </div>
          </div>
          <div *ngFor="let section of entryFormSections;let currentSectionIndex = index">
            <div *ngIf="(currentSectionIndex + 1) == pager.page">
              <div class="item-card-entry-form" >
                <div class="entry-form-container">
                  <div *ngFor="let dataElement of section.dataElements" >
                    <input-container [dataElement]="dataElement"
                                     [currentUser]="currentUser"
                                     [data]="dataValuesObject"
                                     (onChange)="updateData($event)"></input-container>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="item-card" >
            <ion-row   *ngIf="entryFormSections.length > 1" >
              <ion-col col-2 col-sm-1 (click)="changePagination(pager.page - 1)" padding-left padding-bottom padding-top>
                <ion-icon name="ios-arrow-back-outline" ></ion-icon>
              </ion-col>
              <ion-col  col-3 col-sm-2 padding-bottom padding-top>
                <div (tap)="openSectionList()">
                  {{ pager.page + ' of ' + pager.total }}
                </div>
              </ion-col>
              <ion-col  col-2 col-sm-1 (click)="changePagination(pager.page  + 1)" padding-bottom padding-top>
                <ion-icon name="ios-arrow-forward-outline" ></ion-icon>
              </ion-col>
              <ion-col  col-5 col-sm-8 *ngIf="!isDataSetCompleted">
                <button color="favorite" round ion-button full [disabled] ="isDataSetCompletenessProcessRunning" (tap)="updateDataSetCompleteness()">
                  Complete
                </button>
              </ion-col>
              <ion-col  col-5 col-sm-8 *ngIf="isDataSetCompleted">
                <button  color="danger" round ion-button full [disabled] = "isDataSetCompletenessProcessRunning" (tap)="updateDataSetCompleteness()">
                  Undo Complete
                </button>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="entryFormSections.length == 1">
              <ion-col  col-6 col-sm-6>
                <button color="favorite" round ion-button full [disabled] ="isDataSetCompletenessProcessRunning || isDataSetCompleted" (tap)="updateDataSetCompleteness()">
                  Complete
                </button>
              </ion-col>
              <ion-col  col-6 col-sm-6>
                <button  color="danger" round ion-button full [disabled] = "isDataSetCompletenessProcessRunning || !isDataSetCompleted" (tap)="updateDataSetCompleteness()">
                  Undo Complete
                </button>
              </ion-col>
            </ion-row>

            <div *ngIf="isDataSetCompletenessProcessRunning" class="item-card">
              <ion-row>
                <ion-col col-1 ><page-loading loadingSize="small"></page-loading></ion-col>
                <ion-col col-11><p>&nbsp;Please wait ...</p></ion-col>
              </ion-row>
            </div>
            <div *ngIf="!isDataSetCompletenessProcessRunning">
              <div *ngIf="dataSetsCompletenessInfo && dataSetsCompletenessInfo.complete">
                <div class="item-card" padding-bottom padding-top (click)="viewUserCompletenessInformation(dataSetsCompletenessInfo)">
                  Completed by <b>{{ dataSetsCompletenessInfo.storedBy }}</b> on <b>{{ dataSetsCompletenessInfo.date }}</b>
                </div>
              </div>
            </div>

          </div>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
