<div class="interpretation-delete-block">
  <div *ngIf="!deleting">
    {{ translationMapper['This comment will be deleted, are you sure?'] }}
    <a class="btn btn-xs btn-outline-danger" (click)="deleteComment($event)">
      <img src="assets/icon/trash.png" alt="" style="height: 12px; display: block; margin: auto;">
    </a>
    <a class="btn btn-xs btn-outline-secondary" (click)="cancel($event)">
      <img src="assets/icon/close.png" alt="" style="height: 12px; display: block; margin: auto;">
    </a>
  </div>
  <div *ngIf="deleting">{{ translationMapper['Deleting comment'] }}</div>
</div>