<!-- Generated template for the ClearLocalMetadataComponent component -->

<ion-grid>
  <ion-row *ngIf="!showLoadingMessage">
    <ion-col>
      <button ion-button block style="text-transform: none;" (tap)="autoSelect('selectAll')">{{ translationMapper['Select all'] }}</button>
    </ion-col>
    <ion-col>
      <button ion-button block style="text-transform: none;" (tap)="autoSelect('unSelectAll')">{{ translationMapper['Deselect all'] }} </button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!showLoadingMessage">
    <ion-col>
      <ion-list>
        <div *ngFor="let resourceObject of resources;trackBy: trackByFn" style="background-color: white">
          <ion-item>
            <ion-checkbox color="blue" [(ngModel)]="resourceObject.status"></ion-checkbox>
            <ion-label> {{ resourceObject.displayName }} </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-col>
  </ion-row>

  <span *ngIf="!!showLoadingMessage">
    <loading loadingSize="large" [loadingMessage]="loadingMessage"></loading>
  </span>

  <ion-row *ngIf="!showLoadingMessage">
    <button ion-button style="text-transform: none;" (tap)="verifyingDeleteOfResources()" block> {{ translationMapper['Clear metaData'] }}</button>
  </ion-row>

</ion-grid>