.container {
    margin-bottom: 2px;

}

.bottom-layer {
    z-index: 1;
    height: 2px;
    border-radius: 3px;
    transition: width .4s ease-in-out;
    margin-bottom: 8px;
    margin-top: 5px;
}

.top-layer {
    z-index: 2;
    width: 100%;
}

.process-message-percentage-container {
    display: -webkit-flex;
    display: flex;
}

.progress-message {
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;
}

.progress-percentage {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin-top: 7px;
}