.period-filter-container {
  /*display: grid;*/
  /*grid-template-columns: repeat(2, 1fr);*/
  /*border: solid 1px #dddddd;*/
  padding: .2em;
}

.period-top-section {
  display: flex;
  justify-content: space-between;
}

.period-type-section,
.period-year-section {
  flex: 1;
}

.period-year-section {
  display: flex;
  justify-content: flex-end;
}

.period-header {
  display: flex;
}


.period-top-section,
.period-year-btns {
  padding-bottom:.2em;
}

.period-available-header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  border: solid 1px #dddddd;
  padding: 5px 10px;
  font-size: 13px;
}

.period-selected-header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  padding: 5px 10px;
  font-size: 13px;
}

.period-available-header a,
.period-selected-header a {
  cursor: pointer;
}

.period-body {
  display: flex;
  border-left: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
}

.period-available-body,
.period-selected-body {
  flex: 1;
  padding: .2em;
  height: 220px;
  overflow: auto;
}

.period-available-body {
  border-right: solid 1px #dddddd;
}

.period-filter-btns {
  display: flex;
  justify-content: flex-end;
  padding-top: .2em;
}

.period-available-body::-webkit-scrollbar,
.period-selected-body::-webkit-scrollbar {
  width: 5px;
}

.period-available-body::-webkit-scrollbar-track,
.period-selected-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.period-available-body::-webkit-scrollbar-thumb,
.period-selected-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.period-list {
  list-style-type: none;
  padding: 5px;
}

.period-list > li > a {
  padding: 5px;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  color: #000000;
}

.period-list > li > a:hover {
  background-color: #dddddd;
}
