// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.apps-contents{
  border: 1px solid #E6E6E7;
  border-radius: 0.8rem;
  padding: 5px 10px 5px;
}
.entry-selection-container{
  border: 1px solid #E6E6E7;
  border-radius: 0.7rem;
  padding: 5px 10px 5px;
}

.entry-selection{
  padding-top : 1.3rem;
  padding-bottom : 1.3rem;
}

.list-separator{
  height: 1.7rem;
}

.item-card{
  border: 1px solid #E6E6E7;
  border-radius: 0.1rem;
  padding: 5px 10px 5px;
  margin-top:5px;
  margin-bottom:5px;
}
.item-card-with-content-center {
  border: 1px solid #E6E6E7;
  border-radius: 0.1rem;
  padding: 5px 10px 5px;
  margin-top:5px;
  margin-bottom:5px;
  text-align: center;
}
.pagination-button{
  border-radius: 4rem;
  text-align: center;
  padding: 2.1rem;
  border: 1px solid #E6E6E7;
}
.pagination-label{
  text-align: center;
  color: #7A7A7A;
  padding-top: 1.5rem;
}

.logo-inside-app{
  max-width: 15%;
  margin:auto;
}

.side-menu-icon{
  width : 1.5rem;
  height : 1.5rem;
}

.side-menu-logo-container{
  padding-top:10%;
  padding-bottom:5%;
}

.logo {
  padding-top:5%;
  max-width: 25%;
  margin:auto;
}

.topSLogan{
  margin-top:0%;
  text-align: center;
  margin-bottom:0%;
}

.login {
  background-color:#1D5288;
}

.topSLogan p{
  color:#82B1FF;
  text-align:center;
  font-style: italic;
}
.chart-icon{
  width: 30px;
  height: 30px;
  margin: 1px;
}

.chart-icon-container{
  padding: 4px;
  //border-radius: 20px;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translate3d(100%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

.slide-in-from-left{
  -webkit-animation: slideInFromLeft ease-in 1;
  animation: slideInFromLeft ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
}

.slide-in-from-right {
  -webkit-animation: slideInFromRight ease-in 1;
  animation: slideInFromRight ease-in 1;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../assets/library/fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../assets/library/fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

*{
  font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}



//action sheet style for tool tips
.action-sheet-md .action-sheet-title {
  padding: 5px 16px 5px;
  font-size: 1.8rem;
  text-align: left;
  color: #757575;
}

.action-sheet-sub-title{
  padding: 0px 16px 17px;
  font-size: 1.8rem;
  text-align: left;
  color: #757575;
}

//input fields
.text-input-wp {
  border: 0px solid rgba(0, 0, 0, 0.5);
}

//items
.item-md p {
  font-size: 1.7rem !important;
}
.item-md h2 {
  font-size: 1.8rem !important;
  font-weight: 300;
}
//tabs button
.tabs-md .tab-button {
  font-size: 1.7rem !important;
}
.tabs-md .tab-button[aria-selected=true] {
  font-size: 1.7rem !important;
}

//buttons
.button-md {
  font-weight: normal;
}

.normalButton {
  font-size: 1.7rem !important;
}
.dataEntryButton{
  color: #7A7A7A;
  font-size: 1.7rem !important;
}

.button-fab {
  z-index: 100;
}

//selections
.selectionLabel{
  font-size: 1.7rem !important;
}
.selectionLabel{
  font-size: 1.7rem !important;
}

.selectionHints{
  word-wrap: break-word!important;
  font-size: 1.7rem !important;
}

//table styling
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
th {
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #E6E6E7;
  text-align: center;
  min-height: 2.1rem;
}

//items in listing
.item-md {
  position: relative;
  padding-right: 0;
  padding-left: 16px;
  font-size: 1.7rem !important;
  font-weight: normal;
}

//cards
.card-md h1 {
  font-size: 1.8rem;
  color : #7A7A7A;
}
.card-header-md {
  padding: 16px;
  font-size: 1.7rem;
  color : #7A7A7A;
}
.card-md h2 {
  font-size: 20px;
  color : #7A7A7A;
}
.card-md h3,
.card-md h4,
.card-md h5,
.card-md h6 {
  font-size: 1.7rem;
  color : #7A7A7A;
}

//font label
.inputLabel{
  padding-bottom: 4px;
  padding-top: 4px;
  margin-bottom: 4px;
}
p,h3,h4,h5,h6{
  font-size: 1.7rem;
}
h2{
  font-size: 1.8rem;
}
h1{
  font-size: 1.8rem;
}

.card-md p {
  font-size: 1.7rem;;
  color : #7A7A7A;
}

//app icons & titles
.menu-app-icon-list{
  width:55%;
  text-align: center;
  margin: auto;
}
.menu-app {
  text-align: center;
  font-size: 1.2rem;
}

ion-app.md [padding],
ion-app.md [padding] .scroll-content {
  padding: 5px;
}

ion-app.ios [padding],
ion-app.ios [padding] .scroll-content {
  padding: 5px;
}

