// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//items
.item-md p {
  font-size: 18px !important;
}
.item-md h2 {
  font-size: 20px !important;
  font-weight: 300;
}
//tabs button
.tabs-md .tab-button {
  font-size: 18px !important;
}
.tabs-md .tab-button[aria-selected=true] {
  font-size: 18px !important;
}

//buttons
.button-md {
  font-weight: normal;
}
.dataEntryButton{
  color: #7A7A7A;
  font-size: 18px !important;
}

.button-fab {
  z-index: 100;
}

//items in listing
.item-md {
  position: relative;
  padding-right: 0;
  padding-left: 16px;
  font-size: 18px !important;
  font-weight: normal;
}

//cards
.card-md h1 {
  font-size: 22px;
  color : #7A7A7A;
}
.card-header-md {
  padding: 16px;
  font-size: 19px;
  color : #7A7A7A;
}
.card-md h2 {
  font-size: 20px;
  color : #7A7A7A;
}
.card-md h3,
.card-md h4,
.card-md h5,
.card-md h6 {
  font-size: 18px;
  color : #7A7A7A;
}

.card-md p {
  font-size: 18px;
  color : #7A7A7A;
}


