<!--
  Generated template for the ReportParameterSelection page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ reportName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="report">

  <ion-grid>
    <ion-row *ngIf="reportParams.paramOrganisationUnit">
      <ion-col>
        <button [disabled]="!currentSelectionStatus.orgUnit" class="dataEntryButton" text-capitalize ion-button full large (click)="openOrganisationUnitModal()" color="whitecolor">
            <span *ngIf="currentSelectionStatus.isOrgUnitLoaded" >
              {{ selectedOrganisationUnitLabel }}
            </span>
            <span *ngIf="!currentSelectionStatus.isOrgUnitLoaded" >
              <page-loading loadingSize="small"></page-loading>
              Loading organisation units
            </span>
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="reportParams.paramReportingPeriod" >
      <ion-col>
        <button [disabled]="!currentSelectionStatus.period" class="dataEntryButton" text-capitalize ion-button full large (click)="openReportPeriodSelection()" color="whitecolor">
            <span *ngIf="!currentSelectionStatus.isPeriodLoaded" >
              <page-loading loadingSize="small"></page-loading>
              Loading period
            </span>
            <span *ngIf="currentSelectionStatus.isPeriodLoaded" >
              {{ selectedPeriodLabel }}
            </span>
        </button>
      </ion-col>
    </ion-row>

    <!-- todo cross-checking report parameter first from server against this-->

    <div *ngIf="(currentSelectionStatus.isPeriodSelected && currentSelectionStatus.isOrgUnitLoaded)">
      <ion-row class="slide-in-from-right">
        <ion-col width="100">
          <ion-item-group (click)="goToView()">
            <ion-item-divider>
              <p ><b>Report name</b> : {{ reportName }}</p>
              <p ><b>Organisation unit</b> : {{ selectedOrganisationUnitLabel }}</p>
              <p ><b>Period</b> : {{ selectedPeriodLabel }}</p>
            </ion-item-divider>
            <button class="dataEntryButton" ion-button full large color="whitecolor">
              Generate Report &nbsp;&nbsp;&nbsp;<ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </button>
          </ion-item-group>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>






</ion-content>
