<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<div *ngIf="isLoading">
    <loading [loadingSize]="'large'" [loadingMessage]="loadingMessage"></loading>
</div>
<div *ngIf="!isLoading" class="over-flow-container">
    <div *ngIf="tableLayout && tableLayout.headers && tableLayout.headers.length > 0">
        <table class="table table-bordered" width="100%">
            <thead *ngIf="tableLayout && tableLayout.headers">
                <tr>
                    <th *ngFor="let header of tableLayout.headers;trackBy: trackByFn">{{ header}}</th>
                </tr>
            </thead>
            <tbody *ngFor="let row of tableLayout.rows;let currentIndex = index;trackBy: trackByFn">
                <tr [ngStyle]="{'background-color': isTableRowActive(currentIndex) ? '#B9FFB9' :'#F4F4F4' }" (click)="activateRowProgramStageDataEntry(currentIndex)">
                    <td *ngFor="let data of row;trackBy: trackByFn">
                        {{ data }}
                    </td>
                </tr>
                <tr *ngIf="isTableRowActive(currentIndex)">
                    <td colspan="100%">
                        <div text-left>
                            <tracker-event-container [isEventCompleted]="isEventCompleted" (dataValueChange)="onDataValueChange($event)" (updateDeleteStatus)="onUpdateDeleteStatus($event)" (deleteEvent)="onDeleteEvent($event)" [(isDeletable)]="isDeletable" [formLayout]="formLayout"
                                [(dataObject)]="dataObject" [programSkipLogicMetadata]="programSkipLogicMetadata" [dataValuesSavingStatusClass]="dataValuesSavingStatusClass" [programStage]="programStage" [(currentOpenEvent)]="currentOpenEvent" [currentUser]="currentUser">
                            </tracker-event-container>
                            <!-- completeness info-->
                            <div *ngIf="currentOpenEvent['eventDate'] && currentOpenEvent['eventDate'] !=''">
                                <event-completeness (changeEventCompleteness)="onUpdatingEventCompleteness($event)" [complementenesInfo]="complementenesInfo" [isEventCompleted]="isEventCompleted" [isEventLocked]="isEventLocked" [isEventCompletenessProcessRunning]="isEventCompletenessProcessRunning"></event-completeness>
                            </div>
                            <tracker-event-action (deleteEvent)="onDeleteEvent($event)" (addRepeatableEvent)="onAddRepeatableEvent($event)" [isAddButtonDisabled]="isAddButtonDisabled" [isRepeatableStage]="programStage.repeatable" [isDeletable]="isDeletable">
                            </tracker-event-action>
                        </div>
                </tr>
            </tbody>
            <tbody>
                <tr *ngIf="!isTableRowActivated && !isNewEventFormOpened">
                    <td colspan="100%">
                        <div text-left>
                            <tracker-event-action (dataValueChange)="onDataValueChange($event)" (deleteEvent)="onDeleteEvent($event)" (addRepeatableEvent)="onAddRepeatableEvent($event)" [isAddButtonDisabled]="isAddButtonDisabled" [isRepeatableStage]="programStage.repeatable" [isDeletable]="isDeletable">
                            </tracker-event-action>
                        </div>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="isNewEventFormOpened || currentEvents.length === 0">
        <tracker-event-container [isEventCompleted]="isEventCompleted" (updateDeleteStatus)="onUpdateDeleteStatus($event)" (deleteEvent)="onDeleteEvent($event)" [(isDeletable)]="isDeletable" [formLayout]="formLayout" [(dataObject)]="dataObject" [programSkipLogicMetadata]="programSkipLogicMetadata"
            [dataValuesSavingStatusClass]="dataValuesSavingStatusClass" [programStage]="programStage" [(currentOpenEvent)]="currentOpenEvent" [currentUser]="currentUser">
        </tracker-event-container>
        <!-- completeness info-->
        <div *ngIf="currentOpenEvent['eventDate'] && currentOpenEvent['eventDate'] !=''">
            <event-completeness (changeEventCompleteness)="onUpdatingEventCompleteness($event)" [complementenesInfo]="complementenesInfo" [isEventCompleted]="isEventCompleted" [isEventLocked]="isEventLocked" [isEventCompletenessProcessRunning]="isEventCompletenessProcessRunning"></event-completeness>
        </div>
        <tracker-event-action (deleteEvent)="onDeleteEvent($event)" (addRepeatableEvent)="onAddRepeatableEvent($event)" [isAddButtonDisabled]="isAddButtonDisabled" [isRepeatableStage]="programStage.repeatable" [isDeletable]="isDeletable"></tracker-event-action>
    </div>
</div>