<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Organisation unit selection
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class = "organisation-units">
  <ion-grid>
    <ion-row>
      <ion-col width="100">
        <div *ngIf="loadingData">
          <ion-list>
            <ion-item *ngFor="let message of loadingMessages; let currentIndex = index">
              {{ message }}
              <ion-icon *ngIf="(currentIndex + 1) < loadingMessages.length" name="done-all" item-right></ion-icon>
              <div style="text-align: center" item-right *ngIf="(currentIndex + 1) >= loadingMessages.length">
                <ion-spinner name="crescent"></ion-spinner>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!loadingData" >
    <div *ngFor="let organisationUnit of organisationUnitsList" >
      <button ion-item (click)="setSelectedOrgUnit(organisationUnit)">
        <ion-icon name="list" item-left></ion-icon>
        <h2>{{organisationUnit.name }}</h2>
      </button>
    </div>
  </div>

</ion-content>
