<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Organisation unit selection
    </ion-title>
    <ion-buttons start>
      <button class="normalButton" ion-button text-capitalize full large (tap)="dismiss()">
        Close
        <!--<ion-icon name="md-close"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "organisation-units">
  <ion-grid>
    <ion-row>
      <ion-col >
        <div *ngIf="loadingData">
          <page-loading loadingSize="large" [loadingMessage]="loadingMessage"></page-loading>
        </div>
        <div *ngIf="!loadingData">
          <div *ngFor="let organisationUnit of organisationUnits">
            <page-organisation-units-tree [organisationUnit]="organisationUnit"
                                          [currentSelectedOrgUnitName]="lastSelectedOrgUnit.name"
                                          [hasOrgUnitChildrenLoaded]="hasOrgUnitChildrenLoaded"
                                          [hasOrgUnitChildrenOpened]="hasOrgUnitChildrenOpened"
                                          (selectedOrganisationUnit)="setSelectedOrganisationUnit($event)"
                                          [currentUser]="currentUser"></page-organisation-units-tree>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
