<!--
*
* Copyright 2019 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2019
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<div class="animated fadeIn item-card" *ngFor="let settingContent of settingContents; trackBy: trackByFn">
    <ion-item (click)="toggleContent(settingContent)" lines="none" class="ion-no-padding">
        <img class="side-menu-icon" [src]="settingContent.icon" />
        <ion-text [color]="settingContent.isOpened ? 'current-selection' : ''">
            <span [translate]="settingContent.name" class="setting-title"></span>
        </ion-text>
        <ion-icon [mode]="'ios'" [name]="settingContent.isOpened ? 'arrow-up' : 'arrow-down'" [color]="settingContent.isOpened ? 'current-selection' : ''" slot="end"></ion-icon>
    </ion-item>
    <div *ngIf="settingContent.isOpened" class="setting-content">
        <div *ngIf="settingContent.id === 'appSettings'">
            <app-app-settings (changeCurrentLanguage)="onChangeCurrentLanguage($event)" [currentLanguage]="currentLanguage" [supportedTranslations]="supportedTranslations"></app-app-settings>
        </div>
        <div *ngIf="settingContent.id === 'entryForm'">
            <app-entry-form-settings (entryFormSettingChange)="onChangesOnAppSettings($event)" [entryFormSetting]="currentAppSetting.entryForm"></app-entry-form-settings>
        </div>
        <div *ngIf="settingContent.id === 'synchronization'">
            <app-synchronization-settings (synchronizationSettingChange)="onChangesOnAppSettings($event)" [synchronizationSetting]="currentAppSetting.synchronization"></app-synchronization-settings>
        </div>
        <div *ngIf="settingContent.id === 'barcode'">
            <app-barcode-settings (barcodeSettingChange)="onChangesOnAppSettings($event)" [barcodeSetting]="currentAppSetting.barcode"> </app-barcode-settings>
        </div>
    </div>
</div>