<div *ngIf="isLoading">
  <page-loading [loadingSize]="'large'" [loadingMessage]="loadingMessage"></page-loading>
</div>
<div *ngIf="!isLoading">




  <div class="item-card">
    <div>
      <span *ngIf="programStage.executionDateLabel == '0'">Report date</span>
      <span *ngIf="programStage.executionDateLabel !='0'">{{ programStage.executionDateLabel }}</span>
      <span class="required">*</span>
    </div>
    <div class="input-field-container">
      <ion-item>
        <ion-datetime doneText="Update" (ionChange)="updateEventDate()" placeholder="Touch to pick date" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" [(ngModel)]="eventDate"></ion-datetime>
      </ion-item>
    </div>
    <div *ngIf="eventDate && eventDate != ''">
      <div *ngIf="programStage.programStageSections && programStage.programStageSections  && programStage.programStageSections.length > 0">
        <div *ngFor="let programStageSection of programStage.programStageSections" padding-bottom>
          <table width="100%">
            <tbody>
              <tr>
                <td [ngStyle]="{'background-color': '#F4F4F4'}">
                  {{ programStageSection.displayName }}
                </td>
              </tr>
              <tr *ngIf="programStageSection.dataElements">
                <td>
                  <div text-left>
                    <div *ngFor="let dataElement of programStageSection.dataElements">
                      <event-input-container [dataElement]="dataElement"
                                             [currentUser]="currentUser"
                                             [data]="dataObjectModel"
                                             [mandatory]="'false'"
                                             [(dataValuesSavingStatusClass)]="dataValuesSavingStatusClass"
                                             (onChange)="updateData($event)"></event-input-container>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div no-padding>
          <div style="display: inline-block;width: 49.3%">
            <div float-left>
            </div>
          </div>
          <div style="display: inline-block;width: 49.3%">
            <div  *ngIf="canEventBeDeleted()" float-right>
              <div class="item-card" color="danger" ion-button clear text-justify (click)="deleteEvent(currentEvent.id)">
                <ion-icon name="trash" ></ion-icon>&nbsp;
                Delete
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="programStage.programStageSections && programStage.programStageSections  && programStage.programStageSections.length == 0">
        <div *ngIf="programStage && programStage.programStageDataElements && programStage.programStageDataElements.length > 0 ">
          <div *ngFor="let programStageDataElement of programStage.programStageDataElements">
            <div *ngIf="programStageDataElement.dataElement && programStageDataElement.dataElement.id">
              <event-input-container [dataElement]="programStageDataElement.dataElement"
                                     [currentUser]="currentUser"
                                     [data]="dataObjectModel"
                                     [(dataValuesSavingStatusClass)]="dataValuesSavingStatusClass"
                                     [mandatory]="programStageDataElement.compulsory"
                                     (onChange)="updateData($event)"></event-input-container>
            </div>
          </div>
          <div no-padding>
            <div style="display: inline-block;width: 49.3%">
              <div float-left>
              </div>
            </div>
            <div style="display: inline-block;width: 49.3%">
              <div  *ngIf="canEventBeDeleted()" float-right>
                <div class="item-card" color="danger" ion-button clear text-justify (click)="deleteEvent(currentEvent.id)">
                  <ion-icon name="trash" ></ion-icon>&nbsp;
                  Delete
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!(programStage && programStage.programStageDataElements && programStage.programStageDataElements.length > 0)">
        <notification [message]="'Contact system to add data elements'"></notification>
      </div>
    </div>
  </div>
</div>
