<div class="map-container">
  <div class="map-block__left">
    <ul class="map-controls__list">
      <li>
        <button class="map-controls__btn" title="Zoom in" (click)="zoomIn($event)">
          <img src="assets/icons/plus.png">
        </button>
      </li>
      <li>
        <button class="map-controls__btn" title="Home" (click)="recenterMap($event)">
          <img src="assets/icons/home.png">
        </button>
      </li>
      <li>
        <button class="map-controls__btn" title="Zoom out" (click)="zoomOut($event)">
          <img src="assets/icons/minus.png">
        </button>
      </li>
    </ul>
    <div class="map-layers__block">
      <button class="map-layers__btn" (mouseenter)="toggleLegendContainerView()">
        <img src="assets/icons/layers.png">
      </button>
      <div class="visualization-legend__container" *ngIf="visualizationLegendIsOpen$ | async" [ngStyle]="{'max-height': 'calc(' + mapHeight + ' - 150px)'}"
        (mouseleave)="toggleLegendContainerView()">
        <app-visualization-legend [mapVisualizationObject]="visualizationObject"></app-visualization-legend>
      </div>
    </div>
  </div>
  <div id="map-view-port-{{visualizationObject.componentId}}" style="width:100%; height: 100%;"></div>
</div>
