<div class="layout-container">
    <h6>{{ translationMapper['Table / Chart Layout'] }}</h6>
    <table class="layout-table">
        <tr>
            <td class="dimension-drops">
                <div class="dimension-label">

                    {{ translationMapper['Filters'] }}
                </div>
                <div class="drag-container" [dragula]="'bag-one'" [dragulaModel]="filters">
                    <div class="draggable" *ngFor="let filter of filters">
                        <img [src]="icons[filter.value]"> &nbsp;
                        <span>{{filter.name}}</span>
                    </div>
                </div>
            </td>
            <td class="dimension-drops">
                <div class="dimension-label">
                    {{ translationMapper[columnName] }}
                </div>
                <div class="drag-container" [dragula]="'bag-one'" [dragulaModel]="columns">
                    <div class="draggable" *ngFor="let column of columns">
                        <img [src]="icons[column.value]"> &nbsp;
                        <span>{{column.name}}</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="dimension-drops">
                <div class="dimension-label">
                    {{ translationMapper[rowName] }}
                </div>
                <div class="drag-container" [dragula]="'bag-one'" [dragulaModel]="rows">
                    <div class="draggable" *ngFor="let row of rows">
                        <img [src]="icons[row.value]"> &nbsp;
                        <span>{{row.name}}</span>
                    </div>
                </div>
            </td>
            <td class="dimension-drops"></td>
        </tr>
        </tbody>
    </table>
    <div class="layout-footer">
        <div>
            <button class="layout-action-btn" (click)="updateLayout()">
                <i class="fa fa-refresh"></i>{{ translationMapper['Update'] }}</button>
            <button class="layout-action-btn" (click)="close()">
                <i class="fa fa-times"></i>{{ translationMapper['Close'] }}</button>
        </div>
    </div>
</div>