<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-header>
  <ion-toolbar [color]="(colorSettings$ |async).colorAttributes.main">
    <ion-buttons left>
      <button class="normalButton" ion-button text-capitalize full large (tap)="dismiss()">
        &nbsp;&nbsp;&nbsp;
        <ion-icon name="arrow-back"></ion-icon>
        &nbsp;&nbsp;
      </button>
    </ion-buttons>
    <ion-title>
      <span [translate]="'List of widgets'"></span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated="true" autocomplete="on" placeholder="{{'Search'|translate}}"
    (ionInput)="getFilteredList($event)"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let dashboardWidget of dashboardWidgets;trackBy: trackByFn"
            (tap)="setSelectedWidget(dashboardWidget)" no-padding>
            <div style="padding:6px 0px;">
              <span>
                <span class="program-stage-button-label">
                  <span *ngIf="dashboardWidget.icon">
                    <img class="tracker-pagination-icon" [src]="dashboardWidget.icon" />
                  </span>
                  <span *ngIf="dashboardWidget.iconName" class="tracker-pagination-icon icon-color">
                    <b>{{ dashboardWidget.iconName }}</b>
                  </span>
                </span>
              </span>
              &nbsp;
              <span ion-text [color]="(currentWidget.id == dashboardWidget.id) ?'current' : 'font-color'">{{
                dashboardWidget.name }}</span>
            </div>
          </ion-item>
          <ion-item *ngIf="dashboardWidgets.length == 0">
            <empty-list-notification [emptyListMessage]="translationMapper['There is no widget to select']">
            </empty-list-notification>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
