<!--
  Generated template for the TrackerCapturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Tracker Capture</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="item-card" color="font-color" padding-top padding-bottom ion-button clear full text-center text-capitalize (tap)="openOrganisationUnitTree()" >
          <img  class="side-menu-icon" [src]="icons.orgUnit"/>&nbsp;&nbsp;
          {{ organisationUnitLabel }}
        </div>
        <div class="item-card" color="font-color" padding-top padding-bottom ion-button clear full text-center text-capitalize (tap)="openProgramList()" >
          <img  class="side-menu-icon" [src]="icons.program"/>&nbsp;&nbsp;
          {{ programLabel }}
        </div>
        <div *ngIf = "isFormReady" >
          <div class="item-card" (click)="hideAndShowColumns()" color="font-color" padding-top padding-bottom ion-button clear text-center text-capitalize icon-start>
            <ion-icon name="ios-eye" color="icon-color"></ion-icon>
            Columns
          </div>
          <div class="item-card" (click)="registerNewTrackedEntity()" color="font-color" padding-top padding-bottom ion-button clear text-center text-capitalize icon-start>
            <ion-icon name="add" color="icon-color"></ion-icon>
            Add
          </div>
        </div>
      </ion-col>
    </ion-row>

    <div *ngIf = "isFormReady" >
      <div *ngIf="isLoading">
        <page-loading [loadingSize]="'large'" [loadingMessage]="loadingMessage" ></page-loading>
      </div>
      <div *ngIf="!isLoading" class="over-flow-container">
        <ion-row>
          <ion-col>
            <div *ngIf="tableLayout" >
              <table class="table table-bordered" width="100%" >
                <thead *ngIf="tableLayout && tableLayout.headers">
                <tr >
                  <th *ngFor="let header of tableLayout.headers" >{{ header}}</th>
                </tr>
                </thead>
                <tbody *ngIf="tableLayout.rows">
                <tr *ngFor="let row of tableLayout.rows;let currentIndex = index" (click)="openTrackedEntityDashboard(currentIndex)">
                  <td *ngFor="let data of row">
                    {{ data }}
                  </td>
                </tr>
                <tr *ngIf="tableLayout.rows.length == 0">
                  <td colspan="100%">
                    There no data at the moment
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</ion-content>
