<!--
  Generated template for the TrackerCapturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Tracker Capture</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="item-card" color="font-color" padding-top padding-bottom ion-button clear full text-center text-capitalize (tap)="openOrganisationUnitTree()" >
          <img  class="side-menu-icon" [src]="icons.orgUnit"/>&nbsp;&nbsp;
          {{ organisationUnitLabel }}
        </div>
        <div class="item-card" color="font-color" padding-top padding-bottom ion-button clear full text-center text-capitalize (tap)="openProgramList()" >
          <img  class="side-menu-icon" [src]="icons.program"/>&nbsp;&nbsp;
          {{ programLabel }}
        </div>
      </ion-col>
    </ion-row>

    <div *ngIf = "isFormReady">
      <div *ngIf="isLoading">
        <page-loading [loadingSize]="'large'" [loadingMessage]="loadingMessage" ></page-loading>
      </div>
      <div *ngIf="!isLoading">
        {{ trackedEntityInstances |json }}<br><br>
        {{ programTrackedEntityAttributes | json }}
      </div>


    </div>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-fab bottom right #fab>
    <button ion-fab ><ion-icon name="md-more"  ></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="hideAndShowColumns(fab)" color="primary"><ion-icon name="ios-eye" ></ion-icon></button>
      <button ion-fab (click)="registerNewTrackedEntity(fab)" color="primary"><ion-icon name="add" ></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-footer>
