<!--
  Generated template for the ImportSummariesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-title>
      {{'import_summaries'|translate}}
    </ion-title>
    <ion-buttons start>
      <button class="normalButton" ion-button text-capitalize full large (tap)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="keys && keys.length > 0">
          <div *ngFor="let key of keys" padding-bottom  class="over-flow-container">
            <div *ngIf="importSummaries[key]">
              <table class="table table-bordered" width="100%" *ngIf="(importSummaries[key].success + importSummaries[key].fail) > 0">
                <thead>
                <tr>
                  <th [attr.colspan]="'2'">
                    <div *ngIf="key == 'dataValues'">{{'aggregate_data'|translate}}</div>
                    <div *ngIf="key == 'events'">{{'events'|translate}}</div>
                    <div *ngIf="key == 'trackedEntityInstances'">{{'tracked_entity_instances'|translate}}</div>
                    <div *ngIf="key == 'Enrollments'">{{'tracked_entity_enrollments'|translate}}</div>
                    <div *ngIf="key == 'eventsForTracker'">{{'events_for_tracker'|translate}}</div>
                  </th>
                </tr>
                </thead>
                <tbody >
                <tr>
                  <td>{{'success'|translate}}</td>
                  <td>{{'failed'|translate}}</td>
                </tr>
                <tr>
                  <td>{{ importSummaries[key].success }}</td>
                  <td>{{ importSummaries[key].fail }}</td>
                </tr>
                <tr *ngIf="importSummaries[key].errorMessages && importSummaries[key].errorMessages.length > 0">
                  <th [attr.colspan]="'2'">{{'import_conflicts_errors'|translate}}</th>
                </tr>
                <tr *ngFor="let errorMessage of importSummaries[key].errorMessages">
                  <td [attr.colspan]="'2'">
                    {{ errorMessage }}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
