<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-header>

  <ion-toolbar [color]="(colorSettings$ |async).colorAttributes.main">
    <ion-title>
      <span [translate]="'Import summaries'"></span>
    </ion-title>
    <ion-buttons start>
      <button class="normalButton" ion-button text-capitalize full large (tap)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="keys && keys.length > 0">
          <div *ngFor="let key of keys" padding-bottom class="over-flow-container">
            <div *ngIf="importSummaries[key]">
              <table class="table table-bordered" width="100%" *ngIf="(importSummaries[key].success + importSummaries[key].fail) > 0">
                <thead>
                  <tr>
                    <th [attr.colspan]="'2'">
                      <div *ngIf="key == 'dataValues'">
                        <span [translate]="'Aggregate data'"></span>
                      </div>
                      <div *ngIf="key == 'events'">
                        <span [translate]="'Events'"></span>
                      </div>
                      <div *ngIf="key == 'trackedEntityInstances'">
                        <span [translate]="'Tracked entity instances'"></span>
                      </div>
                      <div *ngIf="key == 'Enrollments'">
                        <span [translate]="'Tracked entity enrollments'"></span>
                      </div>
                      <div *ngIf="key == 'eventsForTracker'">
                        <span [translate]="'Events for tracker'"></span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span [translate]="'Success'"></span>
                    </td>
                    <td>
                      <span [translate]="'Failed'"></span>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ importSummaries[key].success }}</td>
                    <td>{{ importSummaries[key].fail }}</td>
                  </tr>
                  <tr *ngIf="importSummaries[key].errorMessages && importSummaries[key].errorMessages.length > 0">
                    <th [attr.colspan]="'2'">
                      <span [translate]="'Import conflicts or errors'"></span>
                    </th>
                  </tr>
                  <tr *ngFor="let errorMessage of importSummaries[key].errorMessages">
                    <td [attr.colspan]="'2'">
                      {{ errorMessage }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
