<!--
  Generated template for the ImportSummariesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-title>
      <span [translate]="'import summaries'"></span>
    </ion-title>
    <ion-buttons start>
      <button class="normalButton" ion-button text-capitalize full large (tap)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="keys && keys.length > 0">
          <div *ngFor="let key of keys" padding-bottom class="over-flow-container">
            <div *ngIf="importSummaries[key]">
              <table class="table table-bordered" width="100%" *ngIf="(importSummaries[key].success + importSummaries[key].fail) > 0">
                <thead>
                  <tr>
                    <th [attr.colspan]="'2'">
                      <div *ngIf="key == 'dataValues'">
                        <span [translate]="'aggregate data'"></span>
                      </div>
                      <div *ngIf="key == 'events'">
                        <span [translate]="'events'"></span>
                      </div>
                      <div *ngIf="key == 'trackedEntityInstances'">
                        <span [translate]="'tracked entity instances'"></span>
                      </div>
                      <div *ngIf="key == 'Enrollments'">
                        <span [translate]="'tracked entity enrollments'"></span>
                      </div>
                      <div *ngIf="key == 'eventsForTracker'">
                        <span [translate]="'events for tracker'"></span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span [translate]="'success'"></span>
                    </td>
                    <td>
                      <span [translate]="'failed'"></span>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ importSummaries[key].success }}</td>
                    <td>{{ importSummaries[key].fail }}</td>
                  </tr>
                  <tr *ngIf="importSummaries[key].errorMessages && importSummaries[key].errorMessages.length > 0">
                    <th [attr.colspan]="'2'">
                      <span [translate]="'import conflicts errors'"></span>
                    </th>
                  </tr>
                  <tr *ngFor="let errorMessage of importSummaries[key].errorMessages">
                    <td [attr.colspan]="'2'">
                      {{ errorMessage }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>