<!--
  Generated template for the ReportViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header xmlns="http://www.w3.org/1999/html">

  <ion-navbar color="primary">
    <ion-title>Report View</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-grid>

    <div *ngIf="isLoading">
      <ion-row >
        <ion-col >
          <page-loading loadingSize="large" [loadingMessage]="loadingMessage"></page-loading>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="!isLoading">
      <ion-row (tap)="backToPreviousView()">
        <ion-col>
          <div class="entry-selection-container">
            <div><b>Report name</b> : {{ reportName }}<br>
              <span *ngIf="selectedOrganisationUnit && selectedOrganisationUnit.id" ><b>Organisation unit</b> : {{ selectedOrganisationUnit.name }}<br></span>
              <span *ngIf="selectedPeriod && selectedPeriod.name" ><b>Period</b> : {{ selectedPeriod.name }}</span>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col>
          <div class="reportView" [innerHTML]="_htmlMarkup"></div>
        </ion-col>
      </ion-row>

    </div>

  </ion-grid>

</ion-content>
