.login-spinner-container {
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
}

.div-with-text {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #82b1ff;
}

@-webkit-keyframes spincube {

    from,
    to {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    16% {
        -webkit-transform: rotateY(-90deg);
    }

    33% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg);
    }

    50% {
        -webkit-transform: rotateY(-180deg) rotateZ(90deg);
    }

    66% {
        -webkit-transform: rotateY(-270deg) rotateX(90deg);
    }

    83% {
        -webkit-transform: rotateX(90deg);
    }
}

@keyframes spincube {

    from,
    to {
        /*face one*/
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1.5, 1.5, 1.5);
        -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1.5, 1.5, 1.5);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1.5, 1.5, 1.5);

    }

    16% {
        /*face two */
        -moz-transform: rotateY(-90deg) scale3d(1, 1, 1);
        -ms-transform: rotateY(-90deg) scale3d(1, 1, 1);
        transform: rotateY(-90deg) scale3d(1, 1, 1);
    }

    33% {
        /*face three*/
        -moz-transform: rotateY(-90deg) rotateZ(90deg) scale3d(1.5, 1.5, 1.5);
        -ms-transform: rotateY(-90deg) rotateZ(90deg) scale3d(1.5, 1.5, 1.5);
        transform: rotateY(-90deg) rotateZ(90deg) scale3d(1.5, 1.5, 1.5);
    }

    50% {
        /*face four*/
        -moz-transform: rotateY(-180deg) rotateZ(90deg) scale3d(1, 1, 1);
        -ms-transform: rotateY(-180deg) rotateZ(90deg) scale3d(1, 1, 1);
        transform: rotateY(-180deg) rotateZ(90deg) scale3d(1, 1, 1);
    }

    66% {
        /*face five*/
        -moz-transform: rotateY(-270deg) rotateX(90deg) scale3d(1.5, 1.5, 1.5);
        -ms-transform: rotateY(-270deg) rotateX(90deg) scale3d(1.5, 1.5, 1.5);
        transform: rotateY(-270deg) rotateX(90deg) scale3d(1.5, 1.5, 1.5);
    }

    83% {
        /*face six*/
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

.cubespinner {
    -webkit-animation-name: spincube;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 15s;
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 60px 60px 0;
    -moz-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0
}

.cubespinner div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, .8);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
}

.cubespinner .face1 {
    -webkit-transform: translateZ(60px);
    -moz-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    transform: translateZ(60px)
}

.cubespinner .face2 {
    -webkit-transform: rotateY(90deg) translateZ(60px);
    -moz-transform: rotateY(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) translateZ(60px);
    transform: rotateY(90deg) translateZ(60px)
}

.cubespinner .face3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px)
}

.cubespinner .face4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px)
}

.cubespinner .face5 {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px)
}

.cubespinner .face6 {
    -webkit-transform: rotateX(-90deg) translateZ(60px);
    -moz-transform: rotateX(-90deg) translateZ(60px);
    -ms-transform: rotateX(-90deg) translateZ(60px);
    transform: rotateX(-90deg) translateZ(60px)
}