<!--
*
* Copyright 2019 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your organisationUnit) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2019
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-header>
    <ion-toolbar [color]="(colorSettings$ | async).colorAttributes.main" mode="md">
        <ion-searchbar animated="true" placeholder="{{ 'Search' | translate }}" (ionInput)="getFilteredList($event)">
        </ion-searchbar>
        <ion-buttons slot="end" (click)="closeModal()">
            <ion-button>
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="organisationUnits && organisationUnits[currentIndex]"></div>
    <ion-item detail *ngFor="
      let organisationUnit of organisationUnits[currentIndex];
      trackBy: trackByFn
    " (click)="setSelectedOrganisationUnit(organisationUnit)">
        <ion-label>
            <ion-text [color]="
          selectedOrganisayionUnitIds.indexOf(organisationUnit.id ) > -1 ? 'current-selection' : ''
        ">
                {{ organisationUnit.name }}
            </ion-text>
        </ion-label>
    </ion-item>
</ion-content>
<ion-footer class="ion-no-margin">
    <ion-toolbar class="ion-no-margin">
        <ion-buttons slot="start">
            <ion-button (click)="previousPage()" [disabled]="currentIndex === 0">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
            <ion-button>
                <span class="ion-text-lowercase">{{ currentIndex + 1 }} of
          {{ organisationUnits.length === 0 ? '1' : organisationUnits.length }}
        </span>
            </ion-button>
            <ion-button (click)="nextPage()" [disabled]="
          currentIndex === organisationUnits.length - 1 ||
          organisationUnits.length === 0
        ">
                <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="clearValue()">
                <ion-icon slot="icon-only" name="Trash" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>