<!--
*
* Copyright 2019 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2019
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-header>
    <ion-toolbar [color]="(colorSettings$ | async).colorAttributes.main" mode="md">
        <ion-searchbar animated="true" placeholder="{{ 'Search' | translate }}" (ionInput)="getFilteredList($event)">
        </ion-searchbar>
        <ion-buttons slot="end" (click)="closeModal()">
            <ion-button>
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="options && options[currentIndex]">
        <ion-item detail *ngFor="let option of options[currentIndex]; trackBy: trackByFn" (click)="setSelectedOption(option)">
            <ion-label>
                <ion-text [color]="selectedValue === option.code ? 'current-selection' : ''">
                    {{ option.name }}
                </ion-text>
            </ion-label>
        </ion-item>
        <div *ngIf="options[currentIndex].length === 0">
            <span [translate]="'No option to select'"></span>
        </div>
    </div>
</ion-content>
<ion-footer class="ion-no-margin">
    <ion-toolbar class="ion-no-margin">
        <ion-buttons slot="start">
            <ion-button (click)="previousPage()" [disabled]="currentIndex === 0">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
            <ion-button>
                <span class="ion-text-lowercase">{{ currentIndex + 1 }} of
          {{ options.length === 0 ? '1' : options.length }}
        </span>
            </ion-button>
            <ion-button (click)="nextPage()" [disabled]="currentIndex === options.length - 1 || options.length === 0">
                <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button *ngIf="!isDeleteButtonHidden" (click)="clearValue()" [disabled]="isDisabled">
                <ion-icon slot="icon-only" name="Trash" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>