<form *ngIf=formFields>
  <div *ngFor="let field of formFields;trackBy: trackByFn">
    <div class="inputLabel">
      <span [translate]="field.displayName"></span>
    </div>
    <div class="input-field-container">
      <password-input (onChange)="updateValue($event,field.id)" [dataElementId]="field.id" [categoryOptionComboId]="'field'" [data]="dataObject"
        [barcodeSettings]="barcodeSettings"></password-input>
    </div>
  </div>
  <button [disabled]="!isPasswordFormValid || isUserPasswordUpdateProcessActive" ion-button full text-capitalize (tap)="updatePassword()">
    <span *ngIf="!isUserPasswordUpdateProcessActive" [translate]="'Update password'"></span>
    <span *ngIf="isUserPasswordUpdateProcessActive" [translate]="'Updating password'"></span>
  </button>
</form>
