<div class="visualization-filter-section" appClickOutside (clickOutside)="selectedFilter = undefined">
  <div class="visualization-filter-buttons">
    <button class="dashboard-btn visualization-filter-btn {{filterConfig.hideButtonBorders ? 'no-borders' : ''}}" title="Filter by different dimensions"
      [disabled]="!loaded" (click)="toggleFilters($event)">
      <img *ngIf="!showFilters" src="assets/icon/filter.png" alt="">
      <img *ngIf="showFilters" src="assets/icon/close.png" alt="">
    </button>
    <div *ngIf="showFilters" class="visualization-filter-list" >
      <button class="dashboard-btn data-filter-btn" *ngIf="filterConfig.showData" [ngClass]="{'active-filter': selectedFilter === 'DATA'}"
        title="Filter by data" (click)="toggleCurrentFilter($event, 'DATA')">
        <img src="assets/icon/data.png" alt="">&nbsp;Data
      </button>
      <button class="dashboard-btn period-filter-btn" [ngClass]="{'active-filter': selectedFilter === 'PERIOD'}" title="Filter by period"
        (click)="toggleCurrentFilter($event, 'PERIOD')">
        <img src="assets/icon/period.png" alt="">&nbsp;Period
      </button>
      <button class="dashboard-btn org-unit-filter-btn" [ngClass]="{'active-filter': selectedFilter === 'ORG_UNIT'}" title="Filter by organisation unit"
        (click)="toggleCurrentFilter($event, 'ORG_UNIT')">
        <img src="assets/icon/tree.png" alt="">&nbsp;Org-Unit
      </button>

      <button class="dashboard-btn layout-filter-btn" *ngIf="filterConfig.showLayout" [ngClass]="{'active-filter': selectedFilter === 'LAYOUT'}"
        title="Change layout" (click)="toggleCurrentFilter($event, 'LAYOUT')">
        <img src="assets/icon/layout.png" alt="">&nbsp;Layout
      </button>

    </div>
  </div>
  <div class="visualization-filter-body dashboard-border" *ngIf="selectedFilter">
    <!--org unit filter-->
    <app-org-unit-filter *ngIf="selectedFilter === 'ORG_UNIT'" [orgUnitModel]="selectedDimensions.orgUnitModel" (onOrgUnitClose)="selectedFilter = undefined"
      (onOrgUnitUpdate)="onFilterUpdateAction($event, 'ORG_UNIT')"></app-org-unit-filter>
    <!--end of org unit filter-->

    <!--period filter-->
    <app-period-filter *ngIf="selectedFilter === 'PERIOD'" [selectedPeriods]="selectedDimensions.selectedPeriods" (onPeriodFilterClose)="selectedFilter = undefined"
      (onPeriodUpdate)="onFilterUpdateAction($event, 'PERIOD')"></app-period-filter>
    <!--end of period filter-->

    <!--data filter-->
    <app-data-filter *ngIf="selectedFilter === 'DATA'" [selectedItems]="selectedDimensions.selectedDataItems" (onDataFilterClose)="selectedFilter = undefined"
      (onDataUpdate)="onFilterUpdateAction($event, 'DATA')"></app-data-filter>
    <!--end of data filter-->

    <!--layout filter-->
    <app-layout *ngIf="selectedFilter === 'LAYOUT'" [layoutModel]="selectedDimensions.layoutModel" [visualizationType]="visualizationType"
      (onLayoutClose)="selectedFilter = undefined" (onLayoutUpdate)="onFilterUpdateAction($event, 'LAYOUT')"></app-layout>
    <!--end of layout filter-->

  </div>
</div>
