<div >
  <div *ngIf="!isVisualizationDataLoaded">
    <div class="visualizationLoader">
      <page-loading loadingSize="large" loadingMessage="Loading Visualization data"></page-loading>
    </div>
  </div>
  <div *ngIf="isVisualizationDataLoaded">
    <ion-row>
      <ion-col col-2 col-sm-1 col-md-1 col-lg-1 text-left no-padding>
        <button [disabled]="'true'" ion-button color="light" clear class="chart-icon-container" >
          <img class="chart-icon" [src]="filterIcon">
        </button>
      </ion-col>
      <ion-col col-8 col-sm-10 col-md-10 col-lg-10  no-padding><p *ngIf="isInFullScreen">{{ dashboardItem.title }}</p></ion-col>
      <ion-col col-2 col-sm-1 col-md-1 col-lg-1 text-right no-padding >
        <button ion-button color="light" clear class="chart-icon-container" (tap)="loadFullScreenDashboard()" >
          <img class="chart-icon" [src]="zoomIcon">
        </button>
      </ion-col>
    </ion-row>

    <div class="{{ dashBoardCardClass }}" >
      <div *ngIf="visualizationType && visualizationType =='CHART'">
        <chart
          [visualizationObject]="visualizationObject"
          [isInFullScreen]="isInFullScreen"
          (onChartTypeUpdate)="updateVisualizationWithNewChartType($event)"
        ></chart>
      </div>

      <div *ngIf="visualizationType && visualizationType =='TABLE'">
        <table-card [visualizationObject]="visualizationObject" ></table-card>
      </div>

      <div *ngIf="visualizationType && visualizationType =='MAP'">
        <map-template [visualizationObject]="visualizationObject"
                      [mapHeight]="visualizationObject.details.itemHeight" ></map-template>
      </div>

      <div *ngIf="visualizationType && visualizationType =='REPORTS'">
        <reports [visualizationObject]="visualizationObject" ></reports>
      </div>

      <div *ngIf="visualizationType && visualizationType =='USERS'">
        <users [visualizationObject]="visualizationObject"></users>
      </div>

      <div *ngIf="visualizationType && visualizationType =='RESOURCES'">
        <resources [visualizationObject]="visualizationObject" ></resources>
      </div>

      <div *ngIf="visualizationType && visualizationType =='MESSAGES'">
        <messages [currentUser]="currentUser" ></messages>
      </div>

      <div *ngIf="visualizationType && visualizationType =='APP'">
        <app [currentUser]="currentUser" [visualizationObject]="visualizationObject" ></app>
      </div>

      <div *ngIf="visualizationType && visualizationType =='DICTIONARY'">
      </div>
    </div>


    <div *ngIf="isInFullScreen && visualizationType && (visualizationType =='TABLE' || visualizationType =='MAP' || visualizationType =='CHART' )">
      <button ion-button color="light" clear class="chart-icon-container"  *ngFor="let visualization of visualizationOptions" [disabled]="visualizationType == visualization.type"  (tap)="updateVisualizationType(visualization.type)" >
        <img class="chart-icon" [src]="visualization.icon">
      </button>
    </div>

  </div>
</div>
