dashboard-card {
  .visualizationLoader{
    padding-top: 10px;
  }

  .dashboard-card-overflow-with-fixed-height{
    overflow:auto;
    max-height: 410px;
    min-height: 300px;
  }

  .dashboard-card-overflow{
    overflow:auto;
    min-height: 300px;
  }

}
