<!--
  Generated template for the EventView page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Event View</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="viewEvent">
  <div *ngIf="loadingData">
    <ion-grid>
      <ion-row>
        <ion-col width="100">
          <ion-list>
            <ion-item *ngFor="let message of loadingMessages; let currentIndex = index">
              {{ message }}
              <ion-icon *ngIf="(currentIndex + 1) < loadingMessages.length" name="done-all" item-right color="favorite"></ion-icon>
              <div style="text-align: center" item-right *ngIf="(currentIndex + 1) >= loadingMessages.length">
                <page-loading loadingSize="small"></page-loading>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!loadingData">
    <ion-card *ngIf="params" >
      <div (tap)="navCtrl.pop()">
        <ion-card-content *ngIf="params.orgUnitId">
          <p><b>Organisation Unit</b> : {{ params.orgUnitName }}</p>
          <p><b>Program</b> : {{ params.programName }}</p>
        </ion-card-content>
      </div>
    </ion-card>

    <ion-card  *ngIf="event">
      <ion-card-content *ngIf="event.event" (tap)="gotToEditEvent(event)">
        <p><b>Incident date</b>&nbsp;&nbsp;:&nbsp;&nbsp;{{ event.eventDate }}</p>
        <div *ngFor="let dataValue of event.dataValues">
          <div *ngIf="dataElementMapper[dataValue.dataElement]">
            <p><b>{{ dataElementMapper[dataValue.dataElement].name }}</b>&nbsp;&nbsp;:&nbsp;&nbsp;{{ dataValue.value }}</p>
          </div>
        </div>
        <div *ngIf="event.notes != '0'" >
          <p><b>Comments &nbsp;&nbsp;:&nbsp;&nbsp;</b>{{ event.notes }}</p>
        </div>
        <p><b>Status</b>&nbsp;&nbsp;:&nbsp;&nbsp;
          <span *ngIf="event.syncStatus == 'new event' || event.syncStatus == 'not synced'">Offline</span>
          <span *ngIf="!(event.syncStatus == 'new event' || event.syncStatus == 'not synced')">Online</span>
        </p>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>

<!--- menu as well as add new event as fab icon-->
<div *ngIf="!loadingData && event" >
  <ion-fab bottom right >
    <button ion-fab (tap)="gotToEditEvent(event)" color="favorite">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>
</div>
