<!--
*
* Copyright 2019 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2019
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->

<ion-header>
    <ion-toolbar [color]="(colorSettings$ | async).colorAttributes.main">
        <ion-buttons slot="start">
            <ion-back-button [text]="''" mode="ios"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <span [translate]="'Event Capture'"></span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div *ngIf="isLoading">
                    <app-progress-bar [color]="(colorSettings$ | async).colorAttributes.secondary" [isIndeterminateProcess]="true" [processMessage]="''">
                    </app-progress-bar>
                </div>
                <div *ngIf="!isLoading">
                    <app-program-based-paramater-selection (currentSelectionChange)="onCurrentSelectionChange($event)" [authorities]="authorities" [currentEntrySelection]="currentEntrySelection" [programIdsByUserRoles]="programIdsByUserRoles" [programType]="programType"
                        [allowMultipleOuSelection]="allowMultipleOuSelection"></app-program-based-paramater-selection>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>