<!--
*
* Copyright 2019 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2019
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<div *ngIf="isLoading">
    <app-progress-bar [color]="(colorSettings$ | async).colorAttributes.secondary" [isIndeterminateProcess]="true" [processMessage]="''">
    </app-progress-bar>
</div>
<div *ngIf="!isLoading" class="animated fadeIn">
    <div class="barcode-settings">
        <span [translate]="'Show barcode reader on numerical fields'"></span>
        <div class="input-field-container">
            <app-true-only-input (valueChange)="onBarcodeSetingChnage($event)" [data]="data" [dataElementId]="'allowBarcodeReaderOnNumerical'" [categoryOptionComboId]="'co'"></app-true-only-input>
        </div>
    </div>
    <div class="barcode-settings">
        <span [translate]="'Show barcode reader on text fields'"></span>
        <div class="input-field-container">
            <app-true-only-input (valueChange)="onBarcodeSetingChnage($event)" [data]="data" [dataElementId]="'allowBarcodeReaderOnText'" [categoryOptionComboId]="'co'"></app-true-only-input>
        </div>
    </div>
    <div class="barcode-settings">
        <span [translate]="'Activate multiline barcode scan behaviour'"></span>
        <div class="input-field-container">
            <app-true-only-input (valueChange)="onBarcodeSetingChnage($event)" [data]="data" [dataElementId]="'activateMultiline'" [categoryOptionComboId]="'co'"></app-true-only-input>
        </div>
    </div>
    <div class="barcode-settings">
        <span [translate]="'Key value pair separator'"></span>
        <div class="input-field-container">
            <app-text-input (change)="onBarcodeSetingChnage($event)" [data]="data" [valueType]="'TEXT'" [dataElementId]="'keyPairSeparator'" [categoryOptionComboId]="'co'" [lockingFieldStatus]="!barcodeSetting.activateMultiline"></app-text-input>
        </div>
    </div>
    <div class="barcode-settings">
        <span [translate]="'Multiline separator'"></span>
        <div class="input-field-container">
            <app-text-input (change)="onBarcodeSetingChnage($event)" [data]="data" [valueType]="'TEXT'" [dataElementId]="'multilineSeparator'" [categoryOptionComboId]="'co'" [lockingFieldStatus]="!barcodeSetting.activateMultiline"></app-text-input>
        </div>
    </div>
</div>