<!--
*
* Copyright 2019 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2019
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<div *ngIf="isLoading">
    <app-progress-bar [color]="colorSettings?.colorAttributes.secondary" [isIndeterminateProcess]="true" [processMessage]="''">
    </app-progress-bar>
</div>
<div *ngIf="!isLoading">
    <div *ngIf="entryFormType === 'CUSTOM'">
        <app-custom-entry-form 
            [isPeriodLocked]="isPeriodLocked"
            [dataEntryFormDesign]="dataEntryFormDesign"
            [indicators]="indicators" 
            [entryFormType]="'aggregate'"
            [entryFormSections]="dataEntryFormSection"
            [data]="dataValuesObject"
        ></app-custom-entry-form>
    </div>
    <div *ngIf="entryFormType === 'SECTION'">
        <app-default-entry-form
            (openSectionListAction) = "onOpenSectionListAction($event)"
            [isPeriodLocked]="isPeriodLocked"
            [pager]="pager"
            [entryFormSections]="dataEntryFormSections"
            [data]="dataValuesObject"
        ></app-default-entry-form>
    </div>
    <div>
        <app-aggregate-completeness-paginator 
            (openSectionListAction) = "onOpenSectionListAction($event)"
            (dataSetCompletenessAction) = "onDataSetCompletenessAction($event)"
            (validationRuleAction) = "onValidationRuleAction($event)"
            [pager]="pager"
            [isPeriodLocked]="isPeriodLocked"
            [entryFormType]="entryFormType" 
            [entryFormSections]="dataEntryFormSections"
        ></app-aggregate-completeness-paginator>
    </div>
    <div>
        <app-completeness-container></app-completeness-container>
    </div>
</div>