<!--
  Generated template for the ReportHome page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Report List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="report">

  <div *ngIf="loadingData">
    <ion-grid>
      <ion-row>
        <ion-col width="100">
          <ion-list>
            <ion-item *ngFor="let message of loadingMessages; let currentIndex = index">
              {{ message }}
              <ion-icon *ngIf="(currentIndex + 1) < loadingMessages.length" name="done-all" item-right color="primary"></ion-icon>
              <div style="text-align: center" item-right *ngIf="(currentIndex + 1) >= loadingMessages.length">
                <ion-spinner name="crescent" color="secondary"></ion-spinner>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!loadingData">
    <ion-searchbar animated="true" (ionInput)="getFilteredList($event)"></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col width="100">
          <ion-list>
            <ion-item *ngFor="let report of reportList" (click)="selectReport(report)">
              <ion-icon name="list" item-left></ion-icon>
              <span >{{ report.name }}</span>
            </ion-item>
            <ion-item *ngIf = "reportList.length == 0">
              There is no report to select
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
