page-tracker-entity-register {
  .item-md.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #E6E6E7;
  }
  .item-ios.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px solid #E6E6E7;
  }
}
