<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>
        <span [translate]="'Form label'"></span>
      </ion-label>
      <ion-select (ionChange)="applySettings()" [(ngModel)]="settingObject.entryForm.label" interface="action-sheet">
        <ion-option value="displayName">
          <span [translate]="'Display name'"></span>
        </ion-option>
        <ion-option value="formName">
          <span [translate]="'Form name'"></span>
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        <span [translate]="'Form layout'"></span>
      </ion-label>
      <ion-select (ionChange)="applySettings()" [(ngModel)]="settingObject.entryForm.formLayout" interface="action-sheet">
        <ion-option value="tableLayout">
          <span [translate]="'Table layout'"></span>
        </ion-option>
        <ion-option value="listLayout">
          <span [translate]="'List layout'"></span>
        </ion-option>
        <ion-option value="customLayout">
          <span [translate]="'Custom layout'"></span>
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <span [translate]="'Data element per page'"></span>
      </ion-label>
      <ion-input (ionBlur)="applySettings()" type="number" min="1" [(ngModel)]="settingObject.entryForm.maxDataElementOnDefaultForm"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label>
        <span [translate]="'Render option less than six as radio'"></span>
      </ion-label>
      <ion-toggle (ionChange)="applySettings()" color="primary" [(ngModel)]="settingObject.entryForm.shouldDisplayAsRadio"></ion-toggle>
    </ion-item>
    <ion-item no-lines>
      <ion-label>
        <span [translate]="'Show alert on assignement issues'"></span>
      </ion-label>
      <ion-toggle (ionChange)="applySettings()" color="primary" [(ngModel)]="settingObject.entryForm.showAlertOnFormAssignement"></ion-toggle>
    </ion-item>
  </ion-col>
</ion-row>
