<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label text-wrap>
        <span [translate]="'Form label'"></span>
      </ion-label>
      <ion-select (ionChange)="applySettings()" [(ngModel)]="settingObject.entryForm.label" interface="action-sheet">
        <ion-option value="displayName">
          <span [translate]="'Display name'"></span>
        </ion-option>
        <ion-option value="formName">
          <span [translate]="'Form name'"></span>
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        <span [translate]="'Form layout'"></span>
      </ion-label>
      <ion-select (ionChange)="applySettings()" [(ngModel)]="settingObject.entryForm.formLayout" interface="action-sheet">
        <ion-option value="tableLayout">
          <span [translate]="'Table layout'"></span>
        </ion-option>
        <ion-option value="listLayout">
          <span [translate]="'List layout'"></span>
        </ion-option>
        <ion-option value="customLayout">
          <span [translate]="'Custom layout'"></span>
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating text-wrap>
        <span [translate]="'Data element per page'"></span>
      </ion-label>
      <ion-input (ionBlur)="applySettings()" type="number" min="1" [(ngModel)]="settingObject.entryForm.maxDataElementOnDefaultForm"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        <span [translate]="'Render option less than six as radio'"></span>
      </ion-label>
      <ion-toggle (ionChange)="applySettings()" [color]="colorSettings.colorAttributes.secondary" [(ngModel)]="settingObject.entryForm.shouldDisplayAsRadio"></ion-toggle>
    </ion-item>
    <ion-item no-lines>
      <ion-label text-wrap>
        <span [translate]="'Show alert on assignement issues'"></span>
      </ion-label>
      <ion-toggle (ionChange)="applySettings()" [color]="colorSettings.colorAttributes.secondary" [(ngModel)]="settingObject.entryForm.showAlertOnFormAssignement"></ion-toggle>
    </ion-item>
  </ion-col>
</ion-row>
