<!--<empty-list-notification [emptyListMessage]="'Coming soon'"></empty-list-notification>-->


<ion-grid>
  <ion-row>
    <ion-col>
      <div class="item-card" color="font-color" ion-button clear full text-center text-capitalize (tap)="openOrganisationUnitTree()" >
        <img  class="side-menu-icon" [src]="icons.orgUnit"/>&nbsp;&nbsp;
        {{ organisationUnitLabel }}
      </div>


      <div class="item-card" color="font-color" ion-button clear full text-center text-capitalize (tap)="openEntryFormList()" >
        <img  class="side-menu-icon" [src]="icons.dataSet"/>&nbsp;&nbsp;

        {{ dataSetLabel }}
      </div>

      <div class="item-card" color="font-color" ion-button clear full text-center text-capitalize (tap)="openPeriodList()" >
        <img  class="side-menu-icon" [src]="icons.period"/>&nbsp;&nbsp;
        {{ periodLabel }}
      </div>

      <div *ngIf="selectedPeriod && selectedPeriod.iso && dataSetCategoryCombo && dataSetCategoryCombo.id ">
        <div *ngIf="isDataSetDimensionApplicable">
          <div *ngFor="let category of dataSetCategoryCombo.categories;let categoryIndex = index">
            <div (tap)="openDataDimensionSelection(category)" padding-top padding-bottom class="item-card" color="font-color" full text-center text-wrap  >
              <div style="padding-bottom: 5px;"><b>{{ category.name }}</b></div>
              <div *ngIf="selectedDataDimension[categoryIndex]">{{ selectedDataDimension[categoryIndex].name }}</div>
              <div *ngIf="!selectedDataDimension[categoryIndex]">Touch to select option</div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isFormReady" class="item-card" padding-top padding-bottom full>
        <form #f="ngForm" (ngSubmit)="goSubmit(f)">
          <div>
            <div class="item-card">
              <ion-input type="number" name="mobileNumber" placeholder="Mobile Number" ngModel reqired></ion-input>
            </div>
            <button ion-button style="text-transform: none;" block type="submit">Moblie Number</button>
          </div>
        </form>
      </div>


    </ion-col>
  </ion-row>

</ion-grid>
