
<ion-slides autoplay="4000" loop="true" pager="">
  <ion-slide>
    <p>Say Hello to the most amazing offline data collection and data use experience yet</p>
  </ion-slide>
  <ion-slide>
    <p>Enjoy offline reports analytics with dataset and mobile standard reports</p>
    <p></p>
    <p></p>
    <p></p>
  </ion-slide>
  <ion-slide>
    <p>Enjoy offline access to multiple dhis instances in a single phone</p>
    <p></p>
    <p></p>
    <p></p>
  </ion-slide>
  <ion-slide>
    <p>Enjoy sync of data with internet or SMS when no internet coverage</p>
    <p></p>
    <p></p>
    <p></p>
  </ion-slide>
  <ion-slide>
    <p>Collect, and generate reports offline and sync later when you have cell coverage</p>
    <p></p>
    <p></p>
    <p></p>
  </ion-slide>
</ion-slides>
