<!-- Generated template for the DownloadEventsComponent component -->

<ion-grid>
  <ion-row>
    <div class="item-card" color="font-color" ion-button clear full text-center text-capitalize (tap)="openOrganisationUnitTree()" >
      <img  class="side-menu-icon" [src]="icons.orgUnit"/>&nbsp;&nbsp;
      {{ organisationUnitLabel }}
    </div>

    <div class="item-card" color="font-color" ion-button clear full text-center text-capitalize (tap)="openProgramList()" >
      <img  class="side-menu-icon" [src]="icons.program"/>&nbsp;&nbsp;
      {{ programLabel }}
    </div>


  </ion-row>

</ion-grid>
<button ion-button style="text-transform: none" (click)="donwloadEvents()">Download events</button>

