page-entry-form-completeness {
  .content {
    padding-bottom: 5px;
  }
  .item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid #E6E6E7;
  }
  .item-ios.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid #E6E6E7;
  }
}
