<!--
  Generated template for the ReportSelectionPeriod page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Period selection
    </ion-title>
    <ion-buttons start>
      <button class="normalButton" ion-button text-capitalize full large (click)="dismiss()">
        close
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class = "periodSelection" >

  <ion-grid>
    <ion-row>
      <ion-col >
        <button class="dataEntryButton" text-capitalize ion-button full large (click)="previous()" color="whitecolor">Previous</button>
      </ion-col>
      <ion-col >
        <button class="dataEntryButton" text-capitalize ion-button full large (click)="next()" color="whitecolor">Next</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
        <ion-item *ngFor="let period of periodList" (click)="setSelectedPeriod(period)">
          <ion-icon name="list" item-left></ion-icon>
          <span >{{ period.name }}</span>
        </ion-item>
        <ion-item *ngIf = "periodList.length == 0">
          There is no period to select
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
