<!--
*
* Copyright 2019 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2019
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<div class="item-card ion-text-center" (click)="openOrganisationUnitModal()">
    <img class="side-menu-icon" [src]="organisationUnitIcon" />&nbsp;&nbsp;
    <span [translate]="organisationUnitLabel"></span>
</div>
<div class="item-card ion-text-center" (click)="openProgramListSelectionModal()">
    <img class="side-menu-icon" [src]="programIcon" />&nbsp;&nbsp;
    <span [translate]="programLabel"></span>
</div>
<div *ngIf="programCategoryCombo && programCategoryCombo.id ">
    <div *ngIf="isProgramDimensionApplicable">
        <div *ngFor="let category of programCategoryCombo.categories;let categoryIndex = index;">
            <div class="item-card" (click)="openDataDimensionSelection(category)">
                <span [translate]="category.name"></span>
                <div class="item-card">
                    <span [translate]=" selectedDataDimension[categoryIndex] && selectedDataDimension[categoryIndex].name  ? selectedDataDimension[categoryIndex].name : 'Touch to select option'"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="item-card ion-text-center" padding-top padding-bottom *ngIf="!isProgramDimensionApplicable">
        <span [translate]="'All of selected category disaggregation are restricted from entry in selected organisation unit, choose a different form or contact your support desk'"></span>
    </div>
</div>